[2020-10-09 18:07] fubuloubu opened #1 "Add Override for Vault Symbol Name"
Which it's usually advisible to have the Vault wrap the description and symbol of the token it is wrapping, in some circumstances this might not be advisible. For example, the yUSD Vault is actually y"yDAI+yUSDC+yUSDT+yTUSD" which makes it really difficult for certain integrations to list.

Add an override that lets someone declare a different symbol and/or description for the Vault

[2020-10-10 02:53] fubuloubu opened #3 "Add Versioning system to Vaults"
Gnosis Safe uses `VERSION` idempotent storage variable

Also, figure out if there's a way we can use proxies smartly?

[2020-10-10 06:02] fubuloubu opened #5 "Release Vaults via EthPM"
Also not sure if Abstracts can be released via EthPM, but the Strategy interface should be possible.

[2020-10-11 23:40] milkyklim opened #6 "Generate list of events"
Current [subgraph](https://github.com/iearn-finance/yearn-subgraph/blob/master/schema.graphql) is ugly cause there is no standartized way to retrieve parameters.

Filter which parameters are used/useful and introduce corresponding events.

[2020-10-14 00:09] fubuloubu opened #7 "Add deposit cap"
Include a way to configure a cap on deposits (configured at deployment), with `MAX_UINT256` being uncapped

[2020-10-14 03:09] #3 closed, assigned to nobody

[2020-10-14 03:34] #7 closed, assigned to nobody

[2020-10-14 04:33] fubuloubu opened #10 "Withdrawal queue is broken"
Deployment on Ropsten was failing to let me withdraw more than the "free" amount in Vault, meaning the withdrawal queue is broken in some way under this condition. I was attempting to force a partial withdrawal from a strategy.

[2020-10-14 04:36] fubuloubu opened #11 "Rate Limiting algorithm doesn't work under status change events"
- [ ] Emergency exit from `False` to `True`gives the rate limit from the last block reported (which is earlier than when the reset happens)
- [ ] reseting debt limit on a strategy back to nonzero value (following `revokeStrategy`) uses the last block reported (which is earlier than when the reset happens)

[2020-10-14 05:10] fubuloubu opened #12 "Refactor Governance in Strategy to just point at Vault"
Having strategy assert caller for governance-only functions is `Vault.governance()` is more efficient from an upgrade perspective than setting state variables in both

[2020-10-14 13:48] chriswessels opened #13 "Vault product naming scheme"
Somewhat related to https://github.com/iearn-finance/yearn-vaults/issues/1 (fully support overrides)

I think we could probably do a better job of naming products across the yearn ecosystem, but starting with Vaults:

Current constructor for V2 vaults set `name` and `symbol` as follows:
[code]

I suggest better differentiation between yearn products. For example, the name of a Vault could default

[2020-10-14 17:22] fubuloubu opened #15 "Redesign Vault/Strategy Debt Limits"
Currently, total Vault debt limit doesn't really do very much (no winding back or balancing wind downs). Redesign this a bit so that total Vault Debt Limit = sum(Strategy debt limits), using ratios for the % of total investible that the Vaults get. Also consider changing the Vault debt limit to be a read only method, and instead specify % overhead to leave of total assets. The deposit limit forms

[2020-10-14 17:34] chriswessels opened #16 "Add linting to CI for Vyper files"
Currently have linting for Python and Solidity files, but not Vyper.

Add linting support + hook up to Github workflows.

[2020-10-14 17:39] #1 closed, assigned to nobody

[2020-10-14 17:51] fubuloubu opened #17 "Refactor keeper script to handle multiple strategies"
It's a bad idea to run multiple keepers with the same underlying key (you'll get nonce conflicts), so redesign the keeper script to be able to manage several strategies at the same time (during startup, and add/remove during runtime maybe? Perhaps by watching the Vault event stream?)

[2020-10-14 17:53] fubuloubu opened #18 "Add strategy management script"
- [ ] Add a strategy (by address, using pre-defined params w/ overrides available)
- [ ] Update params for strategy (single parameter or multiple params at once)
- [ ] Revoke a strategy
- [ ] Manage withdrawal queue (reordering, adding, removing)
- [ ] Allow "batching" multiple actions together using MultiCall
- [ ] Add a method to "delegate to" another account for execution (such as Gnosis Safe)

[2020-10-14 19:39] #12 closed, assigned to chriswessels

[2020-10-16 15:26] #15 closed, assigned to fubuloubu

[2020-10-16 16:15] milkyklim opened #21 "Add CHI support for strategies"
As discussed would be useful for `harvest()` calls which should be called even with 500 gwei.

[2020-10-18 17:43] fubuloubu opened #25 "Change Withdrawal Fee to Management Fee"
Compute a management fee as issued inflation of Vault shares to rewards based on AUM (in return for proper management).

Remove withdrawal fees entirely, making withdrawals free (up to the withdrawal depth based on debt in strategies)

[2020-10-18 17:56] #10 closed, assigned to fubuloubu

[2020-10-19 10:58] banteg opened #27 "Allow transacting in vault underlying token"
Add a `transfer`-like function which allows transactions denominated in vault's `token`.
https://github.com/dapphub/chai/blob/master/src/chai.sol#L108-L113

One step further might be a function that does `withdraw` + `token.transfer`, so the recipient receives the exact value in `token` with the required amount of sender's vault shares being burned.

[2020-10-19 14:43] fubuloubu opened #28 "Add method to disable rate limits"
Make a detection to disable if `deltaDebt / rateLimit < blockDelta` so it's safer for a wider range (doesn't run into overflow issues with big `blockDelta * rateLimit`)

[2020-10-19 18:18] fubuloubu opened #30 "Add method to handle non-compliant ERC20s like USDT"
https://ethereum.stackexchange.com/questions/84775/is-there-a-vyper-equivalent-to-openzeppelins-safeerc20-safetransfer/84776#84776

[2020-10-19 19:03] #28 closed, assigned to fubuloubu

[2020-10-20 18:52] #25 closed, assigned to fubuloubu

[2020-10-26 16:57] fubuloubu opened #40 "Deep withdrawals with slippage can cause a socialized loss"
Because withdrawals leave some underdefined behavior to strategies to implement them as "try to liquidate up to `amountNeeded` (see below)

https://github.com/iearn-finance/yearn-vaults/blob/22d0607291980bb19b5110c46440843b2d9e3938/contracts/BaseStrategy.sol#L276-L286

We end up in a scenario where large slippage could be caused by that action, but the withdrawer would not realize that loss and in

[2020-10-26 18:20] #27 closed

[2020-10-27 18:56] lbertenasco opened #45 "Add Registry contract"
Contract is here: [`Registry.sol`](../blob/feat/registry/contracts/Registry.sol)

Let's continue [this discussion](https://github.com/iearn-finance/yearn-protocol/issues/58) on this issue.

[2020-10-27 19:16] fubuloubu opened #46 "Add `permit` to Vault share transfers"
As a reference:
https://github.com/dapphub/chai/blob/master/src/chai.sol#L134-L153

[2020-10-27 19:51] fubuloubu opened #47 "Allow deploying "clones" of release vaults"
It might make sense to refactor the Vault to allow deploying shallow "forwarder-style" proxies for each released version of the Vault, to reduce the overall gas usage from deploying new copies.

[2020-10-28 04:00] freightledger commented on #45
Is there a pattern for the value of `vault api version` i.e. a regex or some reference to versioning?

E.g. v1.1.0 != v1.01.0 where 1.1.0 is actually 1.10.1?

[2020-10-28 04:00] sambacha commented on #45
Is there a pattern for the value of `vault api version` i.e. a regex or some reference to versioning?

E.g. v1.1.0 != v1.01.0 where 1.1.0 is actually 1.10.1?

[2020-10-28 15:24] spinoch commented on #16
I'm looking into creating such a tool. Is there any chance for compensation in case it resolves this issue? (Not asking for specific numbers, but would be nice to get something)

[2020-10-28 16:52] fubuloubu commented on #16
@spinoch yes! I think I can find some individuals that can put together a bounty if you are willing to help take this on!

[2020-10-29 15:22] banteg opened #49 "Add a way to report realized losses"
Example with `StrategyUniswapPairPickle` migration. Strategy has incurred a 0.5% loss caused by Pickle withdrawal fee, but the `pricePerShare` has remained the same, meaning the vault is actually short that amount.
[code]

[2020-10-29 15:39] spinoch commented on #16
Cool. I'll see if I can come up with something by next week

[2020-10-31 11:43] chriswessels commented on #13
Happy to say this has been covered in a Naming Standards working group!

[2020-10-31 11:43] #13 closed

[2020-11-04 16:28] fubuloubu opened #61 "Limit deposits by minimum of balance and current deposit limit delta"
This logic will cause a failing txn if `self.token.balanceOf(msg.sender) > self.depositLimit - self._totalAssets()`:
https://github.com/iearn-finance/yearn-vaults/blob/958d380c61c993abbfaa5d3c4191feb204c14de2/contracts/Vault.vy#L608-L609

[2020-11-06 17:47] #61 closed

[2020-11-10 19:10] fubuloubu opened #71 "Add Guest List"
We might want to let Vaults to be able to define "guest lists", which would be another contract that dictates who is allowed to participate in a Vault (and transfer shares). Potential use case here might be for more "experimental" style Vaults, or for "high risk" Vaults where we might want to define a limit based on something like $ value of YFI staked in governance, etc.

This would look like the

[2020-11-10 20:11] fubuloubu opened #72 "Change block-based calculations to timestamp-based"
It should be safe to convert both the mgmt fee calculation, as well as the rate limit logic (both primarily used in `Vault.report()`) to be time-based instead of block number-based. This should be validated and commented on, to make sure that assumption is well-communicated to external integrations of strategy harvests.

This change would make both calculations more accurate, as well as make testi

[2020-11-10 21:18] WrongNebula commented on #71
Can we have Bounc3rs at the gate too?

[2020-11-11 21:28] ShadeUndertree commented on #71
I'd like to pick this one up.

[2020-11-12 17:17] fubuloubu opened #73 "Add "Available Deposit Limit" as view-only function"
Add a view function that provides the following:
[code]

[2020-11-12 20:04] fubuloubu commented on #71
Note: add "deposit size" to authorization check, so we can do limits based on total wealth, or amount of YFI, or stuff like that, e.g.:
[code]

[2020-11-13 03:15] #49 closed

[2020-11-13 03:28] dmolina79 opened #77 "Add testing to vault to handle a faulty strategy reporting bad numbers (equal loss and gain scenario)"
This is an unlikely scenario, but could be good to assert in a test case the behavior for the vault to handle when a strategy is sending weird numbers for some reason like report(gain=100K, loss=100K).

A nice to have more than anything, don't see it as critical on top of other issues.

[2020-11-13 05:54] #73 closed

[2020-11-13 15:14] fubuloubu opened #80 "Automatically verify sources on deployment"
Brownie needs this: https://github.com/eth-brownie/brownie/issues/411

[2020-11-14 08:38] banteg commented on #71
I've implemented this concept here. A bouncer can maintain a guest list, as well as a list of tokens which guarantee entrance if a user holds a certain min amount of them.
https://github.com/banteg/guest-list/blob/master/contracts/GuestList.vy

[2020-11-14 19:01] ShadeUndertree commented on #71
@banteg would you like me to take what you've written and add it to the v2 vaults, plus tests? Or should I move on to something else? (since your implementation seems pretty comprehensive, I'd just be copying & pasting and adding a few tests)

[2020-11-14 21:46] fubuloubu commented on #71
For this feature, I'd say we add a "test guest list" that is just a simpler version of what @banteg implemented. His version can probably continue adding new features (maybe merkle tree claim check?)

[2020-11-15 17:05] banteg opened #82 "Withdraw more than expected causes underflow"
If `liquidatePosition(uint256 _amountNeeded)(uint256 _amountFreed)` frees more than expected, it causes underflow down the line. This should be handled at BaseStrategy level and not cause an error.

Use this Strategy fix for now
https://github.com/banteg/strategy-uni-lp-pickle/commit/fc8da9e0133b59dc19e26f5df79f6e2d836a7f78

[2020-11-15 19:48] Macarse commented on #82
yHegic strategies are also doing that same fix:
https://github.com/Macarse/yhegic/blob/master/contracts/strategies/StrategyHegic.sol#L102-L103

[2020-11-17 08:54] banteg commented on #82
A better fix suggested by Sam
https://github.com/banteg/strategy-uni-lp-pickle/commit/08f849a5639086b34c9dca248662ac4330a8bedb

[2020-11-17 17:38] #71 closed

[2020-11-18 04:59] #72 closed

[2020-11-18 21:39] fubuloubu commented on #82
It is intended that the implementer be aware of the amount freed, and that it should exceed neither the amount needed nor the amount the strategy currently has available to it locally. It is only intended to use this function in `withdraw` but we can discuss further of how it could be used in other functions to reduce duplicated code in strategies.

https://github.com/iearn-finance/yearn-vaults/bl

[2020-11-18 22:00] dmihal opened #93 "Deposit tokens with Permit"
Allow depositing tokens with permit(), so users don't need to send a second approve() call

[2020-11-20 21:45] Macarse opened #99 "Improve exitPosition logic"
In 0.2.0, `exitPosition` was modified to be able to return a tuple with `(uint256 _loss, uint256 _debtPayment)`.
There are two issues which were not addressed:

a) `exitPosition` might be able to return a profit
b) `exitPosition` is also called from `setEmergencyExit()` but the return values are not read by the vault.

Since after `setEmergencyExit()`, the strategist needs to call `harvest()`, I p

[2020-11-20 21:49] fubuloubu commented on #99
heh, I wonder if this would work:
[code]

[2020-11-23 02:56] #99 closed

[2020-11-24 14:09] Grandthrax opened #104 "Name function in base strategy is pure when it should be view"
In base strategy is: function name() external virtual pure returns (string memory);

It should be view and not pure. As pure we can't read from state so can't store a name.

[2020-11-24 20:12] dmolina79 commented on #104
The idea is to always return a hardcoded name so no need to store it.

` return "TestStrategy";`

[2020-11-24 20:33] dmolina79 opened #105 "Fix Audit BaseStrategy v0.2.0 issues"
Audit Issues:
- [x] use safemath in harvestTrigger multiplication
- [ ] use modifiers for auth to avoid duplication
- [x] add more events to setter functions (L156, 169, 174, 184, 189, 382)

[2020-11-24 21:08] dmolina79 opened #106 "Fix Audit Vault v0.2.0 issues"
Vault.vy issues
- [ ]  Potential withdrawal lock -> [Code](https://github.com/iearn-finance/yearn-vaults/blob/054034304c7912d227d460feadc23177103de0b9/contracts/Vault.vy#L787
)

Auditor's Note:

In case if as result of withdrawals in previous loop iteration `self.token.balanceOf(self)` become more that `value` that will cause transaction revert. That scenario is possible because only for first ite

[2020-11-24 21:30] Grandthrax commented on #104
Some strategies are the same but just different want. So would like to set name in constructor. for instance leveraged dai and leveraged usdc comp farm are exactly the same. but I want to set the name to show want

[2020-11-26 18:22] fubuloubu commented on #47
This requires changing the code in the constructor to an `init`, and then ensuring that the Vault is unusable until `init` has been called (and also that `init` cannot be called twice)

[2020-11-27 23:38] fubuloubu commented on #105
Fixed in #107

[2020-11-27 23:38] #105 closed

[2020-11-28 14:57] #106 closed

[2020-11-28 22:27] dudesahn opened #113 "Add two new fields to strategy contracts to simplify checking TVL and unused strategies"
Create two new fields to be standard in strategy contracts.

1. Add a boolean field that indicates whether a strategy is delegating its funds to another strategy, which would greatly simplify TVL calculations. Currently, calculations for TVL to avoid double-counting needs to be curated manually. Addition of a simple boolean field to indicate whether the strategy were delegating its funds could mov

[2020-12-03 23:14] dudesahn commented on #113
issue moved to https://github.com/iearn-finance/yearn-protocol/issues/72

[2020-12-04 04:06] fubuloubu commented on #113
@dudesahn this was the correct location for such a request

[2020-12-05 21:07] vasa-develop opened #117 "BUG: setEmergencyShutdown allows guardian to undo a Vault shutdown"
The [Specification](https://github.com/iearn-finance/yearn-vaults/blob/master/SPECIFICATION.md#emergency-shutdown-mode) dictates that only governance should be able to undo a Vault shutdown, but the [current `setEmergencyShutdown`](https://github.com/iearn-finance/yearn-vaults/blob/v0.2.2/contracts/Vault.vy#L376) also allows a `guardian` to undo a shutdown.

[2020-12-08 05:00] #113 closed

[2020-12-08 05:04] fubuloubu opened #121 "Set Deposit Limit to 0 on deployment"
Currently, the deposits are unlimited on deployment. This is potentially problematic, as we shouldn't allow Vaults to be immediately available during the setup/configuration phase. Due to how deployments are handled, it would be safer to have to set this manually in order to "open up" the Vault for deposits once deployed to mainnet, which can use multicall in order to set all the parameters needed

[2020-12-08 05:07] fubuloubu commented on #104
I see no problems in doing this

[2020-12-08 05:12] fubuloubu commented on #93
Current strategy for this is to basically create a helper contract that wraps Vaults where the token implements the permit operation. It can actually be generalized to support gas-less deposits and withdraws utilizing Keep3r as a relay network.

See @banteg's repository here: https://github.com/banteg/permit-deposit

[2020-12-08 05:13] fubuloubu commented on #93
Additional question is if we should add a variable to the Vault to display what the accepted wrapper is for allowing gas-less transactions, if one exists. This would allow automating the detection of this feature per-vault

[2020-12-08 05:14] fubuloubu commented on #46
Fixed in #115

[2020-12-08 05:14] #46 closed

[2020-12-08 07:43] emilianobonassi commented on #21
You can easily use this @fubuloubu @milkyklim

https://github.com/emilianobonassi/gas-saver

Add the modifier in the methods you want and it does automatically the trick ;)

[2020-12-14 02:59] fubuloubu opened #128 "Add Events for parameter changes in Vault"
Parameter changes would be very helpful to have the history logged so they can be searched in history

[2020-12-14 03:00] fubuloubu commented on #121
Note: the biggest change here will be updating all the test cases

[2020-12-15 20:55] Macarse opened #129 "Avoid calling adjustPosition when there is not enough want"
If the strategy doesn't have more `want` than `debtOutstanding` there is no need to call `adjustPosition`.

[2020-12-16 02:33] fubuloubu commented on #129
Per discussion in #130, basically `adjustPosition`/`prepareReturn` should be able to handle a deficit condition (e.g. `want.balanceOf(address(this)) < _debtOutstanding`) without throwing, as it will prevent proper operation of `tend`/`harvest`. There are some scenarios where strategies need to take positive action on a deficit, such as a in time-bound or debt-based strategies, and it is not advisi

[2020-12-16 02:33] #129 closed

[2020-12-16 16:40] hrharder commented on #128
@fubuloubu has anyone agreed to tackle this yet? if not, i'd be willing to give it a go

primarily experienced with golang and python, but have worked extensively with contracts/solidity so feel like I should be able to do this pretty easily by this weekend if its helpful

[2020-12-16 16:44] fubuloubu commented on #128
@hrharder yes, you can give it a go. The following will serve as an aide. Please add events like these in Vault.vy for governance upgrade, strategy parameter updates (rate limit, debt limit, migration, etc.) and vault parameter upgrades (deposit limit, guest list, etc.) Thanks!

https://github.com/iearn-finance/yearn-vaults/pull/124/files#diff-096c8e9d951cde1c28070e4ef10658a45c746777741fbefd68749a

[2020-12-17 17:45] hrharder commented on #128
great!

you have a preference for one/a few types of events (e.g. `ParameterUpdate`) with fields `parameterName`, or many events? (e.g. `UpdateRateLimit`, `UpdateDebtLimit`, etc.)? Personally tend to prefer more granular events, but LMK

[2020-12-17 18:10] fubuloubu commented on #128
granular is better, some parameters are not `uint256`

[2020-12-17 18:26] dmolina79 commented on #121
With the new registry proposal is this still a change needed on the vault, or we can handle on the template factory initialize @fubuloubu ?

[2020-12-17 18:39] fubuloubu commented on #121
@dmolina79 it's in the constructor/initialize function, which I didn't change, so it would probably be worth doing separately

[2020-12-17 19:25] hrharder commented on #128
lmk if this is the correct direction #131

[2020-12-17 19:29] hrharder commented on #128
since you linked events for governance updates, I removed those in the PR's 2nd commit -- happy to re add if you like (seeing you did mention governance specifically in an above comment)

[2020-12-18 01:26] fubuloubu commented on #128
@hrharder please keep them! I only added them to the Registry in that PR (still WIP), had not added them to the Vault yet.

Also, only have one event for when the transfer is accepted (e.g. `UpdateGovernance`), not when pending is set.

[2020-12-18 01:32] fubuloubu commented on #128
Reviewed what you had so far, looking good!

[2020-12-18 16:05] hrharder commented on #128
gotcha! no problem -- added [here](https://github.com/iearn-finance/yearn-vaults/pull/131/commits/641bdb2efce2a7a73a57a30f53a71c5e54fab3b4)

[2020-12-18 16:16] hrharder commented on #121
willing to take a stab if this hasn't been picked up by anyone else yet -- understand the tests will need changes as well, but feel confident I should be able to sort it out

in `Vault.vy`, the only change would be changing

[code]

to

[code]

correct (ignoring pseudocode, assuming some types will need to be converted or whatever -- still figuring out the type system)?

[2020-12-18 16:22] hrharder commented on #77
what is the expected behavior here? if you can point me to the lines in Vault.vy where this is handled (or at least what the expected behavior is), I could try to write a test case!

[2020-12-18 17:36] fubuloubu commented on #121
@hrharder you can just remove that line entirely. The EVM assumes un-set values are 0 by default. Maybe leave your comment there at the end for reference ("Start with no deposits allowed (must be set after deployment)")

[2020-12-18 19:59] #128 closed

[2020-12-22 20:11] ShadeUndertree commented on #40
I'd like to pick this one up.

[2020-12-23 15:10] Macarse opened #133 "Incorporate manager entity in vault"
We want to have more granularity on gov only methods.
The idea is to keep the following methods gov only

[code]

and make the following manager +gov available:

[code]

[2020-12-23 22:16] #117 closed

[2020-12-25 17:41] Macarse opened #136 "migrateStrategy shouldn't reset activation time"
`migrateStrategy` shouldn't empty the replaced strategy params, it should do the same thing as revoke.

[2020-12-29 19:25] #133 closed

[2020-12-29 21:52] fubuloubu commented on #40
Consider merging `liquidatePosition()` and `exitPosition()` as `exitPosition() := liquidatePosition(_debtOutstanding)`

[2020-12-29 21:55] fubuloubu opened #139 "Move to Percentage-based Debt Limits"
Debt Limits should be %-based, with the invariant that only <= 100% of the Vault's total assets can be lent out to Strategies

Debt limits should adjust downwards based on realized losses in `report`, and credit available should be computed dynamically via `totalAssets` and `Strategy.debtLimit` [%]

Also consider renaming `Strategy.debtLimit` to `Strategy.creditLimit`

[2020-12-29 22:46] #136 closed

[2020-12-30 03:45] #45 closed

[2020-12-30 03:45] #47 closed

[2020-12-30 16:23] Macarse opened #142 "Remove pure from BaseStrategy name() method"
Remove the pure modifier to be able to customize the `name()` of the strategy.

[2020-12-30 16:26] fubuloubu commented on #142
Also do `delegatedAssets()`

[2020-12-30 16:29] #40 closed

[2020-12-30 16:29] #82 closed

[2020-12-30 18:16] #142 closed

[2020-12-30 20:00] fubuloubu commented on #104
Fixed in #144

[2020-12-30 20:00] #104 closed

[2020-12-31 21:54] hrharder commented on #121
PR up

[2021-01-02 20:23] #121 closed

[2021-01-07 04:29] #139 closed

[2021-01-07 04:40] fubuloubu opened #147 "Remove Balance Sheet Calculation"
These APIs are underused, and incorrect given `BaseStrategy.delegatedAssets()` is missing from them. No sense in keeping them, this calculation is better done externally anyways.

Remove:
- `Vault.balanceSheetOfStrategy(strategy)` and associated tests
- `Vault.totalBalanceSheet(strategies)` and associated tests

[2021-01-07 20:04] #147 closed

[2021-01-09 18:36] fubuloubu commented on #6
I think this can be closed with the addition of the Registry?

[2021-01-09 18:43] fubuloubu commented on #21
would also be really awesome to use gas-savings for deployments of new Vaults (and Strategies), since they are so expensive to deploy

[2021-01-11 19:35] dmolina79 commented on #77
Closing this since its covered here already
https://github.com/iearn-finance/yearn-vaults/blob/02bf480541c1087023e38e66e8c6d7ff9c0b986e/tests/functional/vault/test_losses.py#L24

[2021-01-11 19:35] #77 closed

[2021-01-14 20:23] fubuloubu opened #152 "Explore more efficient data structure for Wthdrawal Queue"
From Audit Report:

The vault contract manages a withdraw queue. In some locations duplicate checks are being performed. However, in the function `Vault.setWithdrawalQueue(_newQueue)` there are protections against adding the address zero but there is no protection against adding the same address multiple times to the queue.

Additionally, the function `Vault._organizeWithdrawalQueue()` reorganizes

[2021-01-14 22:39] fubuloubu opened #153 "Upgrade to Solidity 0.8.x Series"
Need to see when OpenZeppelin upgrades

[2021-01-18 20:46] fubuloubu opened #156 "Increase Coverage of Test Suite"
Analyze coverage gaps for `Vault`/`BaseStrategy`/`Registry` (using `brownie gui` after `brownie test tests/functional --coverage`) and look for ways to increase coverage of calling conditions the test suite is currently missing.

Examples:
- [x] `token.transfer()/transferFrom()` return False
- [x] `Vault.report()` w/ 0% fees & profit
- [x] `Vault.report()` w/ profit/debt payment but no tokens
- [x

[2021-01-21 09:51] steffenix commented on #156
Would like to help!

[2021-01-23 07:51] steffenix commented on #156
will help

[2021-01-24 09:14] steffenix opened #159 "Yearn strategy for borrowing"
I am wondering if yearn will provide a service to get the best borrowing interest rate.

[2021-01-24 09:57] steffenix commented on #156
I have looked at the reports for `Vault.report()` I do not see lines highlighted in orange on `_assessFees` could you elaborate the examples?

[2021-01-24 14:48] fubuloubu commented on #156
![image](https://user-images.githubusercontent.com/3859395/105633910-548b0880-5e29-11eb-81aa-f22500f34b02.png)

[2021-01-24 15:45] Grandthrax opened #160 "Management fee is charged on total assets at time of harvest leading to unfairly high fees for early LPs"
![image](https://user-images.githubusercontent.com/1507729/105635339-27a31980-5e5a-11eb-9eeb-6913850fcb8c.png)

Management fee is calculated during report. It takes the current total assets and calculated by taking the difference between current timestamp and the last reported time. This is grossly unfair for the initial depositors if there is a big wait time between vault creation and first harve

[2021-01-24 17:35] steffenix commented on #156
So it's about testing the leftover dust?

[2021-01-24 19:43] fubuloubu commented on #156
No, that scenario shoukd be skipped if you set the fees for governance to 0%

[2021-01-24 21:34] steffenix commented on #156
I guess you know the tests enough so that you know that a governance fee of 0 percent isn't tested because I can't understand that looking at the test coverage.

[2021-01-25 01:46] fubuloubu commented on #156
Haha, yes. Sorry, this is the case.

[2021-01-25 21:38] dougstorm commented on #160
Good catch, I would suggest mitigation on new vault deployments to deposit a small amount and run harvest as close as possible to activation, would that mitigate the issue @Grandthrax ?

[2021-01-25 22:19] fubuloubu commented on #160
Potential solution: only charge mgmt on invested funds e.g. `Vault.totalDebt`

This will eliminate issues when Vaults are first stood up but deposited funds are uninvested, and ensures an incentive exists for governance to add more strategies and use up the debt ratio effectively.

[2021-01-25 23:05] #160 closed

[2021-01-26 15:21] fubuloubu commented on #156
Make sure you rebase your work on https://github.com/iearn-finance/yearn-vaults/pull/164 (once merged)

I noticed one of our test cases wasn't running because it was inadvertently marked as a fixture

[2021-01-26 16:17] fubuloubu opened #165 "Add Metadata URI to BaseStrategy/Strategy"
add a new public storage variable `metadataURI`, which can be edited by the strategist and governance, and contains a URI link to some publicly accessible CDN (such as IPFS e.g. `ipfs://Qm....`).

This link should be content-addressed if possible to avoid rewriting the content without an on-chain audit history.

The content itself should be JSON encoded, and list things such as a description of th

[2021-01-27 06:34] steffenix commented on #156
What does the next one means?

`Vault.report()` w/ profit/debt payment but no tokens

[2021-01-27 14:54] steffenix commented on #165
Never worked with ipfs, would live to try. Can I pick this issue?

[2021-01-27 16:13] fubuloubu commented on #156
It looks like this one actually was resolved

The only one missing here is:
![image](https://user-images.githubusercontent.com/3859395/106019405-9e295c80-6090-11eb-8e78-104b489ef8f6.png)

[2021-01-27 16:15] fubuloubu commented on #156
Also this bit in `BaseStrategy.harvest()`
![image](https://user-images.githubusercontent.com/3859395/106019703-f19baa80-6090-11eb-9c04-8db4010d18d9.png)

[2021-01-27 16:23] fubuloubu commented on #165
Sure! It's fairly easy change, basically add a new `string public metadataURI` to `BaseStrategy`, which would usually be set to something like `"ipfs://QmRsvEpJggeu4HhoafzRFobV4sbwVVTXMrdb2p8XWv7bCS"`

[2021-01-28 18:24] fubuloubu opened #170 "Add MiniMe-style Balance Checkpointing to Vault Shares"
Motivation:
- supports (multiple) claimable reward tokens for Vault shareholders
- supports Vault shares being used in governance (e.g. yvYFI)
- supports Vault recovery process (basically, an "Exit Strategy" that allows people to recover funds based on their balances at a particular block)
- supports being able to restrict withdrawals based on block height of deposits (hopefully can be used to sol

[2021-01-28 22:32] fubuloubu opened #171 "Change Rate Limit feature to Min/Max per Harvest Event"
Supercedes: #11

The rate limit feature hasn't been working as expected (see #11), and leads to unpredictable behavior of `harvestTrigger` because `creditAvailable` can change it's value based on the current timestamp.

The idea behind this feature is to change the `StrategyParams` structure to have a maximum (and minimum) amount of credit necessary to perform a fund transfer to the Vault.

The mi

[2021-01-29 08:07] steffenix commented on #153
Can we use https://github.com/OpenZeppelin/openzeppelin-contracts/tree/solc-0.8 ?

[2021-01-29 14:31] Macarse commented on #21
There is also LGT. We should try different approaches before making a decision.

[2021-01-29 16:56] fubuloubu commented on #153
potentially, but they have to be working on supporting 0.8.x soon

[2021-01-29 17:38] fubuloubu commented on #21
I was figuring for harvest and tend the right spot might be to do it with Keep3r stuff.

This issue is quite old at this point, maybe we should rethink?

[2021-01-29 17:39] andy8052 commented on #170
I can't assign myself to things but you can toss me on here. Working on this currently

[2021-01-29 18:00] #165 closed

[2021-01-30 14:36] dougstorm opened #176 "Reentrancy Test not failing as expected"
At first glance it seems reentrancy guard is not working as expected,
can check out branch from this PR #175  and run the test `test_withdrawal_with_reentrancy` to replicate.

Issue:
  Withdraw transaction in `test_withdrawal_with_reentrancy` is not failing as expected.

Expectation:
  Withdraw transaction should fail, when we setup strategy for reentrancy back to vault.

<img width="1006" alt="Sc

[2021-01-30 21:30] dougstorm commented on #176
close with #175

[2021-01-30 21:30] #176 closed

[2021-01-30 21:56] snorkr4 commented on #156
Mind if I help too? I'm new here, figured this would be a great way to start walking through the code.

[2021-01-30 23:13] fubuloubu commented on #156
@snorkr4 sure! please coordinate with @steffenix, as he has a few PRs in prog

[2021-01-31 00:39] snorkr4 commented on #156
@steffenix what's the best way to get in touch? I don't have an invite to the developer discord, if that's where you are.

I started looking into coverage of Registry. I think I have it up to 100%. I can hold off on creating a PR until I confirm that I'm not going to collide with your changes.

![image](https://user-images.githubusercontent.com/78279638/106371410-dfcc3880-6318-11eb-8c5f-725eb7d67d

[2021-01-31 01:19] snorkr4 commented on #156
@steffenix I created a draft PR for now (#177). Assuming it's not colliding with your work, I can put it up for review.

[2021-01-31 06:20] steffenix commented on #156
Go ahead I have put this on pause while I was working on other tasks

[2021-01-31 08:31] #159 closed

[2021-01-31 15:32] snorkr4 commented on #156
Sounds good. I put #177 up for review. @fubuloubu is there documentation of the review process somewhere? E.g. do I assign you as a reviewer, since you filed the issue?

[2021-02-01 21:25] fubuloubu opened #179 "First vault added to release a new apiVersion is always endorsed"
copied from https://github.com/iearn-finance/yearn-protocol/issues/96 by @fameal

### What's your issue about?
The vault that is used to create a new release using YRegistry.newRelease(0x...) is automatically endorsed and shown on Yearn's main site in the production tab.

**Steps to reproduce**
Create a new release using YRegistry.newRelease(0x...) with any vault.

**What is expected to happen.**

[2021-02-01 21:27] fubuloubu commented on #179
Solution is to modify `Registry` by removing the following line:
https://github.com/iearn-finance/yearn-vaults/blob/77b3dccbea306034832265217d60b90023af5c5c/contracts/Registry.vy#L169

`Registry` would need to be redeployed and release/endorsement data migrated to newer deployment. All experiments will be lost at that time.

[2021-02-01 21:28] fubuloubu commented on #179
Note: waiting on fix in https://github.com/vyperlang/vyper/pull/2281

[2021-02-04 11:12] lily-57blocks opened #184 "When strategy has loss, call updateStrategyDebtRatio method to update strategies' debtRatio after harvest will revert."
It's because that _reportLoss only adjust the strategy's debtRatio but not change the vault's debtRatio. it will cause updateStrategyDebtRatio execute failed.

[2021-02-04 21:14] fameal commented on #18
Is it superseded by CMO? Can we close this?

[2021-02-04 21:18] dougstorm commented on #6
Agree this can be closed now that we have registry

[2021-02-04 22:19] fubuloubu commented on #18
not really, could complement CMO actually if it were published as a package separately that we could use in a management script, which could be used to deliver transactions to multisig

[2021-02-04 22:22] #6 closed

[2021-02-05 05:01] snorkr4 commented on #156
Thanks for your help, @fubuloubu -- I learned a lot with #177. Looking at the Vault test coverage now.

[2021-02-05 05:18] fubuloubu commented on #156
Excellent work getting that to 100%!

[2021-02-05 05:19] fubuloubu commented on #156
p.s. @snorkr4 hitting `BaseStrategy`/`TestStrategy` might be easier next step!

[2021-02-05 15:39] snorkr4 commented on #156
Ok sounds good :)

[2021-02-05 17:59] #11 closed

[2021-02-05 17:59] #171 closed

[2021-02-06 18:21] #30 closed

[2021-02-06 18:21] snorkr4 commented on #156
Should I add protected tokens to `TestStrategy`? I can't think of any way to test sweep w/ protected tokens without modifying `TestStrategy.sol`. I'll assume that's the right approach and get started. Just checking.

[2021-02-06 20:44] fubuloubu commented on #156
yes, you are correct. just add a function that allows you push a random token into protected status

[2021-02-07 07:48] steffenix commented on #80
https://github.com/iearn-finance/yearn-vaults/pull/188
https://github.com/iearn-finance/brownie-strategy-mix/pull/19

[2021-02-08 13:35] dougstorm opened #189 "Etherscan verification doesn't work with proxy v2 vaults"
e.g
https://etherscan.io/address/0x0e880118C29F095143dDA28e64d95333A9e75A47

These vaults we can only add ABI to them, but when querying params some values are incorrect like token and balances.

![Screen Shot 2021-02-08 at 07 34 55](https://user-images.githubusercontent.com/6074987/107226791-2dfbce80-69e0-11eb-8c3b-74a9ddabc65e.png)

Verification helps verify the data in contract and also for use

[2021-02-08 14:46] banteg commented on #189
Vyper uses a bit non-standard minimal proxy, so it needs to be fixed on Etherscan end.
From our end we can transition to EIP-1167 minimal proxies with the next Vyper and Vault releases.
https://github.com/vyperlang/vyper/pull/2281

[2021-02-08 23:36] fubuloubu commented on #80
Verify #188 solves this by deploying all contracts on Ropsten, and we can close

[2021-02-09 07:42] steffenix commented on #80
The issue was:

[code]

But that was tested on kovan.

[2021-02-09 16:02] fubuloubu commented on #80
Oh weird, so Kovan works but Mainnet doesn't? Or just Ropsten doesn't?

I guess make sure the script can handle that failing

[2021-02-09 16:29] #184 closed

[2021-02-09 16:31] fubuloubu commented on #189
This would require redeploying the `Registry`, which might be painful but we have other things that need fixing with it (see #179)

Etherscan fix is coming soon, I am in talks with them.

[2021-02-09 21:13] steffenix commented on #80
I got this issue on kovan, maybe other networks aren't behaving the same way but I don't think that's an issue with the network more of an issue with etherscan.

[2021-02-10 03:17] weiwang-57blocks opened #192 "Use safeApprove in base strategy constructor"
The constructor does not use safeApprove.
If the want coin is USDT, it will revert.
related code:
want.approve(_vault, uint256(-1));

[2021-02-10 14:48] fameal opened #194 "Profit lock up that increases share price steadily over time for strategies"
#167 for strategies

[2021-02-10 21:14] emilianobonassi commented on #192
Good catch @weiwang-57blocks, thanks for spotting it

Fixed on #195

[2021-02-11 17:06] dougstorm opened #196 "Track independent reports from strategies and aggregate total gain from them"
Context:
https://github.com/iearn-finance/yearn-vaults/pull/167/files#r574205965

This is an optimization to improve on this solution to avoid strategies overwriting global lockedProfit value on reports

[2021-02-11 21:22] #192 closed

[2021-02-11 21:23] fubuloubu commented on #194
Implemented by #167

[2021-02-11 21:23] #194 closed

[2021-02-11 21:32] fubuloubu commented on #153
Note: do this before next audit

[2021-02-12 18:17] fameal commented on #170
@fubuloubu can we close it in favor of #167  ?

[2021-02-12 19:40] fubuloubu commented on #170
yeah sure

[2021-02-12 19:40] #170 closed

[2021-02-13 18:12] poolpitako opened #197 "Management and Guardian should be able to harvest() a Strategy"

[2021-02-15 02:50] snorkr4 commented on #156
Working on increasing Vault test coverage (WIP #200).

[2021-02-15 03:06] fubuloubu commented on #156
@snorkr4 just post snapshots of the coverage diffs from CI w/ highlights for us to review when you are ready! Thanks!

[2021-02-15 04:24] snorkr4 commented on #156
@fubuloubu I'd say #199 is ready to review. I've posted "before and after" coverage summaries from CI -- not sure how to get a diff from the CI.

A few issues remain for `*Strategy` coverage:

1. For some reason these branches in the authority modifiers show up as not executed. I'm having trouble understanding this.

<img src="https://user-images.githubusercontent.com/78279638/107904664-4e0c2000-6

[2021-02-15 04:28] snorkr4 commented on #156
To summarize what I'm working on:

- #199 - improves coverage for BaseStrategy (ready to review).
- #200 is a draft PR with my progress so far on coverage for `Vault` (not ready to review).
- [No PR yet] As mentioned in the previous comment, there will still be some coverage gaps for `*Strategy` -- I plan to work on this after #199 is merged.

[2021-02-15 04:31] fubuloubu commented on #156
I think there is a bug with brownie coverage for modifiers. I've been hearing this. Seems like you're running into a few issues here.

---

Yeay, I'll give a look. You didn't run into any weird behaviors or things in the code that didn't work the way you expected?

[2021-02-15 17:46] snorkr4 commented on #156
Overall the code has been very readable and has mostly worked out of the box as expected. Some of the accounting in `BaseStrategy` has been hard for me to wrap my head around, so I ran into some challenges there when I was working on `harvest` and `harvestTrigger`. But I think I'm starting to get it, the more cases I work through.

[2021-02-15 23:52] #197 closed

[2021-02-16 14:50] fameal opened #205 "Create a guest list for v2 Curve LP vaults"
The guest list can be based on https://github.com/banteg/guest-list

The guest list must allow governance to add guests to the vaults, address by address.

Addresses in the guest list can deposit into the vault.

[2021-02-16 15:06] fameal opened #206 "Create 3Pool strategy from 3Pool vault v1"
Migrate 3Pool v1 vault to a v2 strategy

[2021-02-16 15:07] fameal opened #207 "Create yCRV (aka yUSD) strategy from yCRV vault v1"
Create yCRV strategy from yPool vault v1

[2021-02-16 23:38] dougstorm opened #209 "Consider making pendingGovernance value public in yVaults"
This helps with on chain verification on etherscan for this value

[2021-02-17 14:23] steffenix commented on #206
I can do it.

[2021-02-17 14:23] steffenix commented on #207
I can do it.

[2021-02-18 11:05] fameal commented on #207
Closed in favor of https://github.com/iearn-finance/yearn-strategies/issues/12

[2021-02-18 11:05] #207 closed

[2021-02-18 11:05] fameal commented on #206
Closed in favor of https://github.com/iearn-finance/yearn-strategies/issues/12

[2021-02-18 11:05] #206 closed

[2021-02-18 19:43] dougstorm opened #213 "Gas optimization to report profits from strat without withdraw"
There are possible optimizations that can be done on harvest/report flow:

Notes from @Grandthrax
[code]

[2021-02-19 16:06] steffenix commented on #205
Will help on this one

[2021-02-23 14:32] fameal commented on #205
@fubuloubu what do you think about using Steffenix guest list for v2 migration?

[2021-02-23 16:15] steffenix commented on #205
Code is actually on https://github.com/steffenix/Curve-LP-Vault-manager/pull/1 @fubuloubu made some comments already.

[2021-02-23 19:50] fubuloubu opened #216 "Clarify `maxLoss` parameter in documentation"
From audit:

"We would recommend to document a bit more clearly what “maxLoss” means for the withdraw function. We first thought that the accepted loss percentage is computed based on the returned token amount, but it is computed based on the burnt share amount. That is fine, it could just be a bit more clear, but we guess that the UI will take care of that."

[2021-02-23 19:50] fubuloubu opened #217 "Handle tokens with transfer fees"
From audit:

"Some tokens have transfer fees. The withdrawal and deposit will likely have issues in case of transfer fees. The exact issues depend on the implementation specifics of the fees. Please note that USDT is such a token. Currently, USDT transfer fees are set to zero."

[2021-02-23 19:57] fubuloubu opened #218 "Explore supporting definationary/inflationary/rebalancing tokens"
From audit:

"Deflationary, inflationary and rebalancing tokens: For these tokens it is quite hard to make general statements, as their low-level details differ in important aspects. For these tokens it is very important that the strategies are aware of their characteristics and do any internal accounting accordingly."

NOTE: Currently our Vault design does not support these at all, and it remains

[2021-02-23 20:01] fubuloubu opened #219 "Support tokens with callback hooks"
From audit:

"Callbacks. Some token standards, e.g. ERC223, ERC721, and ERC777, define callbacks. Some of these callbacks can be invoked upon regular “transfer” calls. This creates a significant security risk in the form of reentrancies. Inside the strategy additional protection measures might be required depending on the token type and its handling. The vault already has reentrancy locks that sho

[2021-02-23 20:13] fubuloubu opened #220 "Parametrize test suite on Tokens with different decimal values"
We support a number of different tokens using different decimal amounts (e.g. GUSD has 2, USDC has 6, wBTC has 8, etc.), but we only currently test with 18 decimals. So, we should parametrize our Tokens to try different values just to make sure our calculations are consistent enough not to cause problems.

Also need some test cases that ensure precision loss is bounded below some expected amount.

[2021-02-23 20:20] fubuloubu opened #221 "Increase precision for important calculations based on decimals"
There are a couple of really important interactions that need precise math to prevent too much rounding error from integer math flooring results.

Example:
https://github.com/iearn-finance/yearn-vaults/blob/dff2c5c05caf946ace09dae3cbea79c05983160d/contracts/Vault.vy#L792

We tried to fix it a bit like this:
https://github.com/iearn-finance/yearn-vaults/blob/dff2c5c05caf946ace09dae3cbea79c05983160d

[2021-02-24 10:09] steffenix commented on #220
will help

[2021-02-26 16:10] #220 closed

[2021-03-01 09:31] fameal commented on #21
Is this still relevant? It seems that gas tokens are going to be deprecated soon.

[2021-03-01 09:39] fameal commented on #16
Hey @spinoch! It seems that you've done a lot of progress in the PR. Are you still working on it?

[2021-03-01 10:09] fameal commented on #156
Being worked on #226

[2021-03-01 14:35] milkyklim commented on #21
No, @steffenix own PR was closed by himself.

[2021-03-01 14:35] #21 closed

[2021-03-01 19:35] fameal opened #227 "Update deployment script to match the current procedure"
Update deployment script [deploy.py](https://github.com/yearn/yearn-vaults/blob/master/scripts/deploy.py) to match the current procedure to deploy vaults. The current process can be found in [OPERATIONS.md](https://github.com/yearn/yearn-vaults/blob/master/docs/OPERATIONS.md)

[2021-03-02 05:50] fubuloubu opened #229 "Inconsistent Liquidations in BaseStrategy Emergency Exit Mode"
1. We are in emergency mode and are starting a `harvest`:

[code]

2. The vault will return `strategy_totalDebt`:

[code]
For simplicity we assume debtOutstanding = strategy_totalDebt = 100

3. We go through this part of harvest:

[code]
We assume that totalAssets = 110.

Then we will call `liquidatePosition(110)`.

We assume that the return values are: `debtPayment` = 105, `loss` = 5

Then `profi

[2021-03-02 07:44] fameal commented on #227
#228

[2021-03-02 16:05] spinoch commented on #16
Hey, @fameal . In short, no. We need to fix a few issues in the blackadder repo and I haven't had time lately. I still would like to get the issues fixed but I can't really give a time frame atm

[2021-03-07 18:47] steffenix commented on #205
Can I get an update on this one?

[2021-03-08 02:27] fubuloubu commented on #205
Next steps here would be to develop a version of `contracts/test/AffiliateToken.sol` that works similar to our v2 Vaults today (e.g. the same mgmt fee structure) and allows those invested in v1 Curve LP Vaults to migrate their funds over. This should be a separate repository, working in concert with the Guest List you've developed and the Vault Registry. Let's talk about it this week.

[2021-03-08 02:37] #209 closed

[2021-03-08 15:03] dougstorm opened #233 "Registry v2 Feature request for update"
Features:
- [X] Support adding existing endorsed vaults from previous registry
- [X] able to deploy a new vault for a specific version release(may need tagging for release)

[2021-03-08 15:08] #179 closed

[2021-03-08 15:08] #189 closed

[2021-03-08 19:12] #233 closed

[2021-03-10 08:50] fameal commented on #153
Support to solidity 0.8.0 is already merged on the master branch of openzeppelin-contracts: [issue 2441](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2441) and there's a beta release [openzeppelin-contracts releases](https://github.com/OpenZeppelin/openzeppelin-contracts/releases)

Waiting for a stable release

[2021-03-10 13:39] #17 closed, assigned to nobody

[2021-03-10 15:52] fubuloubu commented on #153
They are targeting end of the month for OZ v4.0:
https://forum.openzeppelin.com/t/contracts-4-0-timeline/5774

[2021-03-10 15:52] #156 closed

[2021-03-11 13:00] jmonteer opened #240 "Cloning a strategy leaves hardcoded state variables uninitialized"
State variables that are initialised at declaration time are actually initiliased/set up in constructor during deployment
AND
A cloned strategy never executes constructor()
THEN
those variables are cloned and left uninitialised (= type's zero-value)

Example:
![image](https://user-images.githubusercontent.com/68742302/110791050-111e1980-8272-11eb-9398-4c54d2f60a86.png)

Setting up default values f

[2021-03-11 13:00] jmonteer commented on #240
@poolpitako

[2021-03-11 13:01] jmonteer commented on #240
#239

[2021-03-11 17:16] #240 closed

[2021-03-12 09:49] Grandthrax opened #241 "Remove protectedTokens"
protectedTokens serves no purpose and is in fact dangerous. It is there to stop governance from 'sweeping' out want and other protected tokens. But why do we want this? It adds no extra safety as governance has that ability with migrateStrategy. But if migrateStrategy is broken then we could end up with tokens locked forever.

[2021-03-14 08:04] steffenix commented on #205
I have merged https://github.com/steffenix/Curve-LP-Vault-manager/pull/1 into master.
I am free to start the next task @fubuloubu

[2021-03-14 08:06] steffenix commented on #153
4.0-rc.0 is out

[2021-03-14 13:55] fubuloubu commented on #205
Lets chat tomorrow about the Curve LP stuff!

[2021-03-15 20:05] dougstorm commented on #241
I get the point of having a way to save the tokens from a broken strategy but i think we can mitigate that with the review and testing process we have, as we enforced tests for migration are passing before live testing. Also we can limit new strategy debtRatio until we can test a migration in ganache fork.

I am presenting the options since im of the opinion that it's a security feature that gover

[2021-03-15 20:32] dougstorm commented on #241
Also referencing this PR #243, i think is just the same for strategist to leave protectedTokens as an empty list and choose to leave sweep available. Even with these changes we can still potentially have `want` tokens locked.

So not sure there is much value in removing them if we are not removing the `want` check in any case, since protectedTokens was always up to the strategist to implement

[2021-03-16 08:54] jmonteer opened #246 "Vault withdrawal reverts with "division by zero" when totalSupply == 0"
When vault is empty and totalSupply == 0, withdrawal reverts with division by zero.

This does not affect expected behavior in the sense that it does not lock anybody in the vault (the withdrawal should revert anyway as the user will not own any shares) but it should not return "div by zero".

[2021-03-16 09:00] jmonteer opened #247 "Withdrawal of 0 shares is allowed and not reverted"
Two scenarios:
A user with no shares tries to withdraw full balance (= 0)
A user tries to withdraw 0 shares explicitly

Withdrawal should revert when the users tries to (implicitly or explicitly) withdraw 0 shares.

This is to be consistent with the approach used in deposit function (https://github.com/yearn/yearn-vaults/blob/e390c2a6b2ba6e2ecc8f3a72a1ea4adfabd17544/contracts/Vault.vy#L856)

It is

[2021-03-19 09:38] #205 closed

[2021-03-19 14:05] #241 closed

[2021-03-23 13:57] jmonteer commented on #247
closed via #248

[2021-03-23 14:16] #247 closed

[2021-03-23 14:16] #246 closed

[2021-03-25 23:59] dougstorm commented on #227
also could be good to update so we can pick version of vault to deploy

[2021-03-30 16:07] steffenix commented on #221
Should we do this after the solidity 0.8 code is merged? The changes on `mul -> *` will most likely conflict.

[2021-03-30 18:57] fubuloubu commented on #221
This is all mostly talking about the Vaults code which would not be affected by this upgrade

[2021-03-30 19:40] steffenix commented on #221
Yes indeed vault is vyper code and not solidity!

[2021-03-31 10:41] fameal commented on #227
I removed an old warning from the ops manual also #260. Once we have that merged I think we can close this.

[2021-04-05 15:04] dougstorm opened #264 "BackPort the clone feature of BaseStrategy to 0.3.0 release"
We had two strategies that needed the cloning feature targeting the USDC/DAI vaults '0.3.0' recently and the only approach has been to edit the baseStrategy which is not ideal since they should be pulled from this repo.

One Example ->https://github.com/Mattdwest/poolTogether/blob/v3_downgrade/contracts/BaseStrategyEdited.sol#L859

Ideally there is a new tag/release '0.3.0-1' where they can pull t

[2021-04-05 20:35] #221 closed

[2021-04-05 23:43] fubuloubu commented on #153
implemented in `develop` branch

[2021-04-06 12:17] poolpitako opened #266 "Vault's initialize should allow to set management"
Right now the release process of a vault is:

 - Vault.deploy()
 - Vault.initialize()
 - Registry.newRelease(vault)
 - vault.setManagement(sms)

 Setting the management should be part of the vault initialize method.

[2021-04-08 07:59] steffenix commented on #266
@fubuloubu do you want me to do it?

[2021-04-08 19:13] fubuloubu commented on #266
Yeah, I think this could target 0.4.0

[2021-04-12 16:15] steffenix commented on #266
https://github.com/yearn/yearn-vaults/pull/271

[2021-04-12 16:15] #266 closed

[2021-04-12 16:17] fubuloubu commented on #264
Given 0.3.4 also contains precision fix for USDC, should we consider just migrating those vaults to 0.3.5?

We can use this as an opportunity to see how well our partners deal with migrations (Fire Drill)

[2021-04-19 07:50] steffenix opened #276 "Shares can be indirectly transferred to 0x0"
Users can bypass transfer protections to send shares to the 0x0 address burning them.

Users can deposit funds to obtain shares in the Yearn vaults. The shares are ERC20-compatible and can be transferred freely, except to the address of the contract or the 0x0 address:

[2021-04-19 10:04] steffenix opened #278 "Setting rewards address to 0x0 or self can block the fee computation"
If governance tries to disable rewards by setting the address to receive them to 0x0 or the address of the contract, it can block the fee computation.

Users can deposit funds to obtain shares in the Yearn vaults. The shares are ERC20-compatible and can be transferred freely, except to the address of the contract or the 0x0 address:

[2021-04-19 10:49] steffenix opened #280 "Division rounding could cause users to receive no shares when depositing"

[2021-04-19 11:06] steffenix opened #282 "Vault initialize function does not validate ERC20 decimals"

[2021-04-19 13:23] steffenix commented on #80
Just retried on kovan and got the same error again.

[2021-04-19 17:15] steffenix opened #285 "Add missing NatSpec to BaseWrapper"

[2021-04-19 17:59] dougstorm commented on #196
closing this issue, since its mitigated partially with #167 and we don't have a gas optimized solution for this at the moment to justify increasing gas cost on deposit and withdraw if the issue is not critical

[2021-04-19 17:59] #196 closed

[2021-04-20 17:46] steffenix commented on #285
https://github.com/yearn/yearn-vaults/pull/290

[2021-04-20 17:46] #285 closed

[2021-04-22 15:03] poolpitako opened #294 "BaseStrategy setEmergencyExit should allow to be called by vault guardian and vault management"
`BaseStrategy` `setEmergencyExit()` should allow to be called by vault guardian and vault management

[2021-04-23 00:02] dougstorm commented on #264
Could be a good option, but i would say the base for migration is after the ToB audits to ensure that next migration will be around for a while on the USDC and DAI vaults, i think targeting the post audit release may be better

[2021-04-23 08:59] fameal commented on #276
Closed by #277

[2021-04-23 08:59] #276 closed

[2021-04-23 09:00] fameal commented on #282
Closed by #283

[2021-04-23 09:00] #282 closed

[2021-04-23 09:00] fameal commented on #280
Closed by #281

[2021-04-23 09:00] #280 closed

[2021-04-23 09:01] fameal commented on #278
Closed by #279

[2021-04-23 09:01] #278 closed

[2021-04-24 17:05] dougstorm commented on #264
I think we need to bump this one, i keep seeing more examples of strategies going to USDC and DAI and migrating may still be months away so we should have this in place.

E.g.

https://github.com/TheRyanMiller/Vesper-Strategies/blob/downgrade030/contracts/BaseStrategyCompatible.sol

Where @TheRyanMiller had to backport it, could we make a branch of the 0.3.0 tag add this change and create a new ta

[2021-04-25 19:25] fubuloubu opened #298 "Prevent calling clone on a cloned contract"
The `BaseStrategy.clone()` method is present in clones of an original deployed strategy with the feature. That call should be disabled somehow (perhaps `require(address(this).code.length > 45);`?) so that a clone cannot produce a clone of itself (preventing code verification for EIP-1167 proxies from working properly and using extra gas)

NOTE: The EIP-1167 bytecode size is 45 bytes in length

[2021-04-26 14:14] steffenix commented on #298
I have tried and added:
[code]

calling the view the clone size is 45 but trying to clone a clone it doesn't revert.

[2021-04-26 16:21] fubuloubu commented on #298
Right, it is actually going to get that directly from delegate contract itself, so that won't work...

Yeah, a storage value that is only set in the delegate e.g. `isOriginal = true;` should work, as the storage should be read from the clone not the delegate.

[2021-04-26 17:31] steffenix commented on #298
That's what I thought too, will do it

[2021-04-28 15:28] fubuloubu opened #305 "Fix occasional test case failure"
Some CI runs are flaky because it occasionally triggers an assertion in the vaults code for `withdraw`
https://github.com/yearn/yearn-vaults/pull/302/checks?check_run_id=2457823927

![image](https://user-images.githubusercontent.com/3859395/116430261-b0906f00-a814-11eb-9212-69d41f0cdb42.png)

Solution is to basically just make sure it doesn't withdraw dust

[2021-04-29 15:26] #298 closed

[2021-04-29 15:31] #294 closed

[2021-04-29 21:29] poolpitako opened #306 "Div by zero in Vault code"
To repro:

 - Create a vault
 - Deploy a strategy
 - Deposit a token
 - Make the strategy send ALL tokens to `ZERO_ADDRESS`
 - Call `harvest()`

`_reportLoss()` will revert because `self._totalAssets()` is 0.

Reported by @fp-crypto!

[2021-04-30 00:35] fp-crypto commented on #306
I'm working on a test case.

[2021-05-03 12:04] steffenix commented on #305
That happened way to often today,
I will take care of it.

[2021-05-03 15:44] steffenix commented on #305
The issue is coming from the code that does
[code]

[2021-05-03 16:12] steffenix commented on #264
@fubuloubu @dougstorm

What is the final decision on this one?

[2021-05-04 14:08] fubuloubu opened #315 "Audit Report Progress"
- [x] TOB-YEARN-001 (#277)
- [x] TOB-YEARN-002 (#279)
- [x] TOB-YEARN-003 (#281)
- [x] TOB-YEARN-004 (#303)
- [x] TOB-YEARN-005 (#283)
- [x] TOB-YEARN-006 (#308)
- [x] TOB-YEARN-007 (#337)
- [x] TOB-YEARN-008 (#299)
- [x] TOB-YEARN-009 (#309)
- [x] TOB-YEARN-010 (#302)
- [x] TOB-YEARN-011 (#337)
- [x] TOB-YEARN-012 (#318)
- [x] TOB-YEARN-013 (#324)
- [x] TOB-YEARN-014 (#332)
- [x] TOB-YEARN-015 (#

[2021-05-04 15:10] fubuloubu opened #316 "Ensure that this value is not user-manipulatable."
Suggested change to ensure that this value is not user-manipulatable in `_reportLoss`

[code]

Reference: #307

[2021-05-04 15:18] fubuloubu commented on #316
Also, similar fix to this calculation
https://github.com/yearn/yearn-vaults/blob/3db9deded94c11b0536214be3fc1ac57b439212c/contracts/Vault.vy#L1436

[2021-05-04 15:42] steffenix opened #317 "Current debt calculations can differ depending on context"

[2021-05-04 15:42] #317 closed

[2021-05-04 15:43] steffenix opened #318 "Registry cache is not verified when the registry address is updated"
Document expected behavior for registry upgrade e.g. upgraded registry must replay all releases and endorsed vaults

[2021-05-04 15:45] steffenix opened #319 "name, symbol and decimals can change during the lifetime of yToken"
Change yToken name and symbol to be "y" + token.symbol() and "Yearn " + token.name() + " yToken"

[2021-05-04 15:45] steffenix opened #320 "Strategy declaring a loss can keep debt above risk settings"
Add doc

[2021-05-04 15:46] steffenix opened #321 "Performance fees can total more than 100%"
Change the maximum set point for both to be 50% (which ensures they are never more than 100%)

[2021-05-04 15:46] steffenix opened #322 "Management fee can be avoided"
Block `report` from being called if time since last report is 0 (same block)

[2021-05-04 15:47] steffenix opened #323 "Vault should not use in lationary or de lationary ERC20 tokens"
Add doc

[2021-05-05 14:54] steffenix commented on #321
I have looked again at the issue and I think we were not looking at the right part of the code yesterday.

The issue is on setting the vault performanceFee once a strategy has been added.
[code]

[2021-05-05 14:57] steffenix commented on #321
@fubuloubu
you have suggested to update

[code]

And make sure the perfomanceFee isn't more than

[2021-05-05 15:52] fubuloubu commented on #321
Correct. As there is no way to get `max(performanceFee for performanceFee in self.strategies)`, there is no way to limit that setting to ensure the 100% invariant is maintained.

Making the maximum 50% is a shortcut around it. Since the governance fee can't be set to >50%, and each strategy can't be set to >50%, the total can therefore never be >100%.

[2021-05-10 10:46] steffenix commented on #318
That has already been documented by @fubuloubu
https://github.com/iearn-finance/yearn-vaults/blob/f8a5f1d417fb707cd0117551067af2ea08ed660d/contracts/BaseWrapper.sol#L84
[code]

[2021-05-10 11:00] steffenix commented on #152
The first part of this issue is resolved by https://github.com/yearn/yearn-vaults/pull/299

[2021-05-10 13:28] #322 closed

[2021-05-11 10:33] zgfzgf opened #333 "PrecisionFactor is useless"
https://github.com/yearn/yearn-vaults/blob/3db9deded94c11b0536214be3fc1ac57b439212c/contracts/Vault.vy#L806

for example: precisionFactor=10
amount * totalSupply / self._totalAssets()=23.45 float

not use  precisionFactor
  The results are **23**

use  precisionFactor
precisionFactor*amount * totalSupply / self._totalAssets()=234.5  is 234
234/precisionFactor=234/10=**23**

so precisionFactor is u

[2021-05-11 12:17] steffenix commented on #333
For that particular line, it is useless yes.
On more complex calculations It remains relevant.

[2021-05-11 12:24] zgfzgf commented on #333
maybe self.precisionFactor is useless

[2021-05-11 16:17] #320 closed

[2021-05-11 16:18] #321 closed

[2021-05-11 16:18] #323 closed

[2021-05-11 20:13] #305 closed

[2021-05-13 08:48] #333 closed

[2021-05-14 08:47] #316 closed

[2021-05-14 08:54] #306 closed

[2021-05-16 10:58] tabshaikh commented on #264
@dougstorm Would like to help on this :)

[2021-05-16 17:13] steffenix commented on #264
Version 0.4 and 1.0 will be released next week.
0.4 will be the legacy solidity 0.6 version.
1.0 will be the version going forward.
I hope we can migrate the old vaults and we don't have to add the clone method to BaseStrategy 0.3

[2021-05-16 17:55] #315 closed

[2021-05-16 17:55] #229 closed

[2021-05-17 09:56] zgfzgf opened #346 "Suggest code merging"
It's better to show every commit instead of merging them together
Especially from develop to main

[2021-05-17 10:21] steffenix commented on #346
The big develop to master was done one but going further, most of the changes will be from master with one branch per feature/fix.
'
We have decided to use squashing to enforce one commit per merge to keep a clean history

[2021-05-17 10:21] #346 closed

[2021-05-17 14:59] #264 closed

[2021-05-17 15:18] tabshaikh commented on #227
@fameal maybe this can also be closed?

[2021-05-17 15:32] fameal commented on #227
Yes, we can close this.

[2021-05-17 15:32] #227 closed

[2021-05-17 15:36] fameal commented on #218
@fubuloubu can we close this as _won't fix_? At this point, this version of vaults is not going to support rebalancing tokens.

[2021-05-17 15:38] fameal commented on #217
@fubuloubu can we close this as won't fix?

[2021-05-17 20:18] fubuloubu commented on #217
closed by #331

[2021-05-17 20:18] #217 closed

[2021-05-17 20:18] fubuloubu commented on #218
Closed by #331

[2021-05-18 07:55] steffenix commented on #93
@fubuloubu @fameal What do we do with this one?

[2021-05-18 10:37] #218 closed

[2021-05-18 11:11] steffenix opened #359 "Consider changing library function call syntax we use"
See :https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2484

[2021-05-18 15:04] fubuloubu commented on #93
BaseWrapper snd yToken solve this

[2021-05-18 15:04] #93 closed

[2021-05-19 14:24] steffenix commented on #80
[code]

[2021-05-24 02:03] zgfzgf opened #368 "There shouldn't be gain and loss at the same time in func report"
https://github.com/yearn/yearn-vaults/blob/8978c89095aa3a05224103b067b95b8c1627de5f/contracts/Vault.vy#L1633

if loss > 0 && gain >0
I feel a little unreasonable.
There shouldn't be gain and loss at the same time

In this way, it can be better
if loss == 0 || gain ==0

[2021-05-24 03:11] steffenix commented on #368
We keep it possible for extreme accounting cases when we have to "hack" the accounting, the strategist is the one responsible for using the function properly.

[2021-05-24 03:14] ghost opened #369 "Add strategy registry"
@poolpitako

[2021-05-24 03:29] steffenix opened #370 "Check strategy health during harvest"

[2021-05-24 23:52] t4sk opened #372 "Question about degradation"
https://github.com/yearn/yearn-vaults/blob/master/contracts/Vault.vy#L296

Above time to 100% degradation is set to  `DEGRADATION_COEFFICIENT * 46 / 10 ** 6 `

`10 ** 6 / 46 = 21739`  is slightly over 6 hours (21600 seconds)

Any clarification about how the number above was derived? Why not just use `21600` instead?

[2021-05-25 03:12] zgfzgf commented on #368
I want to rethink today.
**Vault should controller strategist.**

for example.
Token X put in pool. harvest  get  Token Y. Token Y transfer to Token X.

when gain = 50 Token X (harvest get X). loss = 100 Token X (liquidatePosition) but  strategy get 50 * performanceFee. It is unreasonable. strategy  should get 0 Token.

when gain = 50 Token X. loss = 20 Token X. strategy get (50-20) * performanceF

[2021-05-25 04:07] t4sk commented on #372
Should I create a PR to change it to 21600?

[2021-05-25 07:16] steffenix commented on #368
That's not for usual scenarios but if we need to hack things around in order to save some locked funds because of a bug for example.

[2021-05-26 04:08] zgfzgf opened #376 "DebtRatio problem"
https://github.com/yearn/yearn-vaults/blob/ec7d2e314b438c1e87f1043e242dd562db998f4c/contracts/Vault.vy#L1441-L1445
https://github.com/yearn/yearn-vaults/blob/ec7d2e314b438c1e87f1043e242dd562db998f4c/contracts/Vault.vy#L1478
above. compute strategy_debtLimit  is different
https://github.com/yearn/yearn-vaults/blob/ec7d2e314b438c1e87f1043e242dd562db998f4c/contracts/Vault.vy#L1476
should add  var deb

[2021-05-26 04:11] zgfzgf commented on #376
now use var self.debtRatio controller vault_debtLimit. It's hard to control and understand.

[2021-05-26 08:57] steffenix commented on #376
Yes, there is inconsistency plus we also have issues here
https://github.com/yearn/yearn-vaults/pull/375

[2021-05-26 09:06] steffenix commented on #372
It's not set to 21600 but calculated based on DEGRADATION_COEFFICIENT which makes it slightly different from 21600.

It's better to keep the calculation to reduce human errors if the DEGRADATION_COEFFICIENT is changed for example.

[2021-05-26 09:06] #372 closed

[2021-05-26 09:15] steffenix commented on #376
What you are suggesting is the code we use to have prior to the changes.
https://github.com/yearn/yearn-vaults/commit/a5c51b29c80e19b588f8fbe35daf81e987368df3#diff-b583ba5c4d7b67e56b9084eff9fe883e12a2cdd94a2ea25029322c6f3568d807L1140

[2021-05-26 09:31] zgfzgf commented on #376
I think. add var debtLimit controller available amout.  vault 1 code:
// Custom logic in here for how much the vault allows to be borrowed
    // Sets minimum required on-hand to keep small withdrawals cheap
    function available() public view returns (uint) {
        return token.balanceOf(address(this)).mul(min).div(max);
    }
https://github.com/yearn/yearn-vaults/commit/a5c51b29c80e19b588f8fb

[2021-05-26 09:35] steffenix commented on #376
sorry, I do not understand your suggestion.
Can you propose some changes?

[2021-05-26 09:40] zgfzgf commented on #376
Well, I'll change the code tomorrow, and we'll discuss it. You can better understand my idea from the code.

[2021-05-26 09:44] steffenix commented on #376
Ok I will discuss with @fubuloubu
Thanks!

[2021-05-26 09:54] zgfzgf commented on #376
https://github.com/yearn/yearn-vaults/commit/a5c51b29c80e19b588f8fbe35daf81e987368df3#diff-b583ba5c4d7b67e56b9084eff9fe883e12a2cdd94a2ea25029322c6f3568d807L1140
def addStrategy(
    strategy: address,
    debtLimit: uint256,
    rateLimit: uint256,
    performanceFee: uint256,
)  before debtLimit is good. it controller strategy amount. why delete it now?

[2021-05-26 10:20] steffenix commented on #376
Because a strategy owner can reduce or bypass debt reduction.

The computation of the ratio change depends on total assets, which are computed using the balance of the vault. However, a strategy owner can temporarily increase this value with a flash loan, with the following sequences of calls in a single transaction:

1. Take a flash loan
2. Make deposit
3. Call report
4. Make a withdrawal
5. Repa

[2021-05-26 10:39] zgfzgf commented on #376
thank you.
I suggest add **strategy debtLimit**. not add self.debtLimit. add var **self.available** controller  use asset.
for example:
self.available=9500. max may use asset = 9500*vault_totalAssets/MAX_BPS
strategy 1 debtLimit = 100   strategy 1 may use  asset <= 100.
strategy 1 debtLimit = 200   strategy 1 may use asset <= 200.

[2021-05-26 11:59] steffenix commented on #376
To my understanding, your suggestion is also prone to the manipulation described above.

[2021-05-26 13:18] zgfzgf commented on #376
To solve this problem, we estimate that we should lock deposit amount.
like _calculateLockedProfit function

[2021-05-27 06:25] zgfzgf commented on #376
for example:
strategy 1 strategy 2 parameters are the same.  debtLimit = 100.
strategy 1 debt  = 100 and  strategy 2 debt  = 100
when withdraw 80.
strategy 1 debt  = 20 and  strategy 2 debt  = 100
normal： report
strategy 1 debt  = 60 and  strategy 2 debt  = 60
if strategy 2 do above  flash loan
strategy 1 debt  = 20 and  strategy 2 debt  = 100 There is nothing wrong with that. debt<debtLimit. stra

[2021-05-27 15:04] #368 closed

[2021-05-27 17:12] #376 closed

[2021-05-28 03:47] zgfzgf opened #384 "ReportLoss problem"
suggest:
_reportLoss(strategy: address, loss: uint256, value: uint256)
value is withdraw value
loss should be associated with value.

now:
for example
loss 10  withdraw  value 100
loss 10  withdraw  value 1000
ratio_change is same. it isn't reasonable
https://github.com/yearn/yearn-vaults/blob/78c6b0d5afb4448fd40341decdd8b753a9846e90/contracts/Vault.vy#L960-L979

[2021-05-28 08:57] steffenix commented on #384
You have a parameter called `maxLoss` that prevents `withdraw` with too much loss.

[2021-05-28 08:57] #384 closed

[2021-05-28 09:04] zgfzgf commented on #384
My main point is that the adjustment of debtRatio is unreasonable. @steffenix @fubuloubu

[2021-05-28 15:53] fubuloubu commented on #384
The change in ratio is related to the ratio of loss to total debt. The withdrawal size is a separate concern. This is clearer if you think about a withdrawal that withdraws from multiple strategies to fill out.

The `maxLoss` parameter that @steffenix is talking about is the ratio of the total loss (across multiple strategies) and the withdrawal size, which works like how you're expecting.

[2021-05-29 03:51] zgfzgf commented on #384
report -> _reportLoss
strategy A:  prepareReturn 100   loss 10
strategy B:  prepareReturn 1000 loss 10
A,B update ratio_change is same. Is it reasonable？

strategy A should change more ratio.

[2021-05-29 03:53] fubuloubu commented on #384
Agreed. But how is it not currently?

[2021-06-01 04:21] t4sk opened #390 "Question about recalculation of shares in withdraw"
Should the recalculation of shares to burn on withdraw use `freeFunds` instead of `totalAssets`?

First  calculation of `shares` to `value` uses `freeFunds`
https://github.com/yearn/yearn-vaults/blob/master/contracts/Vault.vy#L1048

Second calculation of `value + totalLoss` to `shares` uses `totalAssets`

https://github.com/yearn/yearn-vaults/blob/master/contracts/Vault.vy#L1101

Share holder lose

[2021-06-02 00:15] metefer99 opened #392 "Question about base strategy"

[2021-06-02 06:59] #392 closed

[2021-06-02 08:55] jmonteer commented on #390
yes, you are right.

when the withdrawal results in losses AND there is some profit locked from the last harvest (< 6 hours since last harvest), pricePerShare used for calculating the amount of shares to burn is higher than pricePerShare used to calculate total value being withdrawn.

As the user needs to explicitly accept losses over 0.01% (by passing maxLoss arg), the vault needs to have been un

[2021-06-06 05:34] Niraj-Kamdar commented on #359
Is anyone working on this? If not I would like to give it a shot.

From what I understand we don't want to use `using .. for ...` syntax for contracts.

In BaseStrategy file we can replace following with the `ISafeERC20` interface.
https://github.com/yearn/yearn-vaults/blob/743089546d47d36d0ece31808d85d32abee7f73e/contracts/BaseStrategy.sol#L181

https://github.com/yearn/yearn-vaults/blob/74308954

[2021-06-06 07:49] steffenix commented on #359
I am gonna do it.

[2021-06-06 07:58] Niraj-Kamdar commented on #152
I have created an in-memory set data-structure with simple hash function which can be used to remove duplicates from an array.
You can checkout the gist at: https://gist.github.com/Niraj-Kamdar/25d47ae6773ea702cc583a1403627cdd

I will profile it for gas cost and if it seems better than the current solution then we can replace it.

[2021-06-07 06:30] steffenix commented on #152
@Niraj-Kamdar in our case, this needs to be on our vault, it's written in Vyper.

[2021-06-07 09:25] Niraj-Kamdar commented on #152
I think I will be able to convert this into a Vyper code.

[2021-06-07 19:28] fubuloubu commented on #152
Thanks for sharing! As @steffenix said, in order to work for us it would need to be implemented in Vyper. but could also explore the idea of set membership to maintain proper use of the queue.

[2021-06-07 20:32] Niraj-Kamdar commented on #152
I will try to convert it into vyper and make it work out for yearn vault

[2021-06-08 12:54] steffenix commented on #370
done for version 0.3 and 0.4.2
Added to vault in https://github.com/yearn/yearn-vaults/pull/398

[2021-06-08 16:53] Niraj-Kamdar commented on #152
I have converted the code in Vyper and benchmarked it and it seems promising:

### Without Set (current):
[code]
### With Set (proposed solution)
[code]

As you can see, in proposed solution `setWithdrawalQueue` is only consuming **79069** compared to **115595** gas cost of current solution. This ofcourse comes with slightly high gas cost of constructor from **4650568** to **4774516**.

[2021-06-08 16:57] Niraj-Kamdar commented on #152
I can open up a PR if you want to include it.

[2021-06-08 18:40] fubuloubu commented on #152
Yes please!

[2021-06-14 06:12] #359 closed

[2021-06-14 08:10] #370 closed

[2021-06-14 08:11] steffenix commented on #153
Updates, won't be done untill we are more confident with solidity 0.8

Draft closed https://github.com/yearn/yearn-vaults/pull/356

[2021-06-15 12:51] #152 closed

[2021-06-15 13:27] fameal opened #410 "Do tags in brownie-strategy-mix to match yearn-vaults"
The idea, if someone needs to use another version that is not the latest one, he can use it and we can have individual tests per tag.

The tag should compile and work correctly. It should be one to one with yearn-vaults

brownie-mix: https://github.com/yearn/brownie-strategy-mix

yearn-vaults: https://github.com/yearn/yearn-vaults

[2021-06-15 13:53] fameal commented on #410
Already here: https://github.com/yearn/brownie-strategy-mix/issues/50

[2021-06-15 13:53] #410 closed

[2021-06-16 12:08] Niraj-Kamdar opened #411 "Add a fuzzing test case for queue management that ensures there's no way to violate the invariants in setWithdrawalQueue"
related to #404
The fuzzing case would be similar to others in the tests/integration/ section. This section of Brownie's docs will help: https://eth-brownie.readthedocs.io/en/stable/tests-hypothesis-stateful.html

[2021-06-16 12:10] Niraj-Kamdar commented on #411
I have opened this issue. So, we don't forget it.

[2021-06-21 23:45] storming0x opened #413 "add missing useful modifier to base Strategy onlyManagement"
we are seeing more and more uses for a special modifier where only managament + governance can adjust settings,
we should add it to BaseStrategy.sol

[code]

[2021-06-21 23:52] poolpitako opened #414 "Can't call setEmergencyExit after calling revokeStrategy"
Use case:

I call `revokeStrategy()` so strategy returns funds and after not getting everything I call `setEmergencyExit()` to get everything out.

[2021-06-22 00:38] poolpitako opened #416 "Add onlyManager to BaseStrategy"
Add:
[code]

[2021-06-22 14:55] poolpitako opened #417 "Remove strings from require() to reduce contract size"
We have a lot of `require()` with strings and the ones hurting the most are the ones in modifiers which are copied over and over again.

I did a small test removing all strings from `require()` and that reduces a contract size by 2% aprox.

Here's an example of the change needed:

Original:
[code]

Finalized:
[code]

[2021-06-22 15:02] poolpitako opened #418 "Replace modifiers with functions to reduce contract size"
Two possibilities here:

Original:
[code]

Option 1:

[code]

Option 2:
[code]

This will reduce around 1% the final contract size.

I would go with option 2 since it helps with code coverage. Modifiers are not really well supported.

[2021-06-22 15:47] banteg commented on #418
For context, modifiers inline the entire function body, not the other way around, as commonly believed.

[2021-06-22 17:25] #216 closed

[2021-06-22 18:30] #414 closed

[2021-06-24 00:49] Tylryan commented on #417
Hey guys! Just trying to contribute. This seems like something I could do. Do I have the go ahead? Thanks!

[2021-06-24 07:56] fameal commented on #417
That's great! Yes, just go ahead

[2021-06-25 08:09] steffenix commented on #416
duplicate https://github.com/yearn/yearn-vaults/issues/413

[2021-06-25 08:09] #416 closed

[2021-06-26 16:12] Niraj-Kamdar commented on #417
Instead of removing  it, use this feature of brownie: https://eth-brownie.readthedocs.io/en/stable/tests-pytest-intro.html#developer-revert-comments.
[code]
This can also be useful while testing.

[2021-06-28 00:48] zgfzgf opened #423 "why pendingGovernance isn't public in Vault.vy?"
https://github.com/yearn/yearn-vaults/blob/c42e6ad4587f8c77d9f3c70ca52941c660660cf0/contracts/Registry.vy#L35
#395

[2021-06-28 00:51] zgfzgf commented on #423
@fubuloubu Why is that? don't get it

[2021-06-28 10:05] yujianFresh opened #424 "get error in vscode"
hi,guys, i run this project well in ternimal, but got error in vscode IDE, more details on

[brownie issue](https://github.com/eth-brownie/brownie/issues/1128)

can anyone help me ?

[2021-06-28 13:04] steffenix commented on #424
That will need to be fixed on https://github.com/tintinweb/vscode-vyper it's not related to yearn.
It shouldn't be an issue for you to keep building.

[2021-06-28 13:04] #424 closed

[2021-06-28 13:06] steffenix commented on #423
There is no need to have `pendingGovernance` public.

[2021-06-28 13:06] #423 closed

[2021-06-29 08:19] #413 closed

[2021-06-29 08:20] steffenix commented on #418
https://github.com/yearn/yearn-vaults/pull/422

[2021-06-29 08:20] #418 closed

[2021-06-29 08:20] steffenix commented on #417
https://github.com/yearn/yearn-vaults/pull/422

[2021-06-29 08:20] #417 closed

[2021-06-29 10:15] Niraj-Kamdar commented on #417
@steffenix instead of removing assertion message completely, we should use dev comments so that we can still assert that while testing and save gas cost at the same time.

[2021-06-29 10:20] steffenix commented on #417
It's ok has it is

[2021-06-29 10:21] steffenix commented on #417
That will only help with testing but not on chain i don't see a benefit

[2021-06-29 10:24] Niraj-Kamdar commented on #417
IMO, It can be helpful while debugging.

[2021-06-29 10:25] Niraj-Kamdar commented on #417
Also, if function has multiple modifiers, we can test correctly which modifier resulted in revert.

[2021-06-29 10:40] steffenix commented on #417
history[-1].call_trace

[2021-06-30 17:26] #390 closed

[2021-07-14 17:56] cbunnydev opened #447 "Openzeppelin package not installed"
Hi

I can't find openzeppelin package from devDependencies
I don't think Yearn devs missed that but maybe there're some purposes of not adding openzeppelin package

Could anybody explain about it?

[2021-07-15 15:40] fameal commented on #447
That's in `brownie-config.yaml`. I think it's better to ask this type of question in our [Discord](https://discord.com/invite/6PNv2nF/).

[2021-07-15 15:40] #447 closed

[2021-07-15 16:17] GalloDaSballo opened #449 "strategy.healthCheck and strategy.doHealthCheck are not syncronized with vault.report"
## Steps to Reproduce
Clone the repo, run the tests
```brownie test tests/functional/strategy/test_strategy_health.py::test_strategy_harvest -s --interactive```

## Cause
The test fails, the reason why is either because of `dev: loss to high` or `dev: gain too high`

But that's because the Vault is still using it's own settings from `vault.addStrategy`

https://github.com/yearn/yearn-vaults/blob/b

[2021-07-15 18:39] storming0x commented on #449
hey @GalloDaSballo we currently are reviewing this PR that may change how the healthcheck feature works for next release

https://github.com/yearn/yearn-vaults/pull/448/files

cc @pandadefi for reference

[2021-07-15 19:23] GalloDaSballo commented on #449
That seems to fix it!

[2021-07-17 23:41] michaelmowry opened #450 "Smart Contract Error in sUSD v2 Vault"
## Description

When trying to withdraw from the sUSD v2 vault in MetaMask I get the following: "ALERT: Transaction Error: Exception thrown in contract code" and over a $500 transaction fee.

## Steps to reproduce

Open the sUSD v2 vault and attempt to withdrawal a balance.

**Expected behavior**
Ability to withdrawal without indication of a contract error and a reasonable withdrawal fee.

**Scree

[2021-07-19 13:54] fubuloubu commented on #450
Can you show us what the "data" field says?

[2021-07-20 07:22] pandadefi commented on #450
I see you have dicussed this on discord https://discord.com/channels/734804446353031319/740414025481060382/866063632234971167

[2021-07-20 07:22] #450 closed

[2021-07-20 07:35] pandadefi commented on #449
Code has been merged.

[2021-07-20 07:35] #449 closed

[2021-07-20 14:30] #80 closed

[2021-08-02 20:14] Pet3ris opened #456 "Clarification regarding `estimatedTotalAssets`"
In https://github.com/yearn/yearn-vaults/blob/main/contracts/BaseStrategy.sol#L517, this line says:

Should the second "higher" be replaced with "lower" instead? Like so.

[2021-08-05 08:46] hero5512 opened #457 "How to migrate an old vault's asset to a new vault."
From the Vault.vy contract, I know how to migrate a strategy (deposit all underlying to the new strategy). But It seems like we can't migrate vault. How to migrate an old vault's asset to a new vault. thx

[2021-08-05 10:45] pandadefi commented on #457
You have to get the users to migrate from one vault to an other.

[2021-08-06 02:38] hero5512 commented on #457
Why don't we use a proxy vault which maintaining contract storage. When we need to migrate to a new contract, we can reset the logic contract as many other defi does.

[2021-08-06 05:21] pandadefi commented on #457
For safety/trust with a proxy some malicious dev could potentially take out all the funds from the vault.

[2021-08-12 17:56] storming0x opened #461 "Add Invariant check for BaseStrategy on pre 0.4.3 tags for enforcing withdrawal checks"
The sanity check line below is a backward compatible fix to enforce that extending contracts from BaseStrategy keep this invariant on withdrawal operations.

<img width="1078" alt="Screen Shot 2021-08-12 at 11 54 00" src="https://user-images.githubusercontent.com/6074987/129245202-0dbc00ee-3be0-4e96-915c-33349b87909c.png">

As per discussion it was suggested we add this fix to all pre 0.4.3 releas

[2021-08-13 08:43] pandadefi commented on #461
On it!

[2021-08-13 09:04] pandadefi commented on #461
All done

[2021-08-13 09:04] #461 closed

[2021-08-13 09:04] #457 closed

[2021-08-13 09:05] pandadefi commented on #461
Also added a PR for main
https://github.com/yearn/yearn-vaults/pull/462

[2021-08-13 17:56] poolpitako opened #463 "Registry.vy and Vault.vy vyper versions do not match"
Registry is using 0.2.11 https://github.com/yearn/yearn-vaults/blob/main/contracts/Registry.vy#L1
Vault is using 0.2.12 https://github.com/yearn/yearn-vaults/blob/main/contracts/Vault.vy#L1

why?

[2021-08-14 05:30] pandadefi commented on #463
@fubuloubu didn't wanted to update the version until we do a new release

[2021-08-16 14:26] poolpitako commented on #463
@banteg also mentioned that the versions are matching the on chain deployment. :+1:

Closing.

[2021-08-16 14:26] #463 closed

[2021-09-01 13:23] pandadefi opened #467 "setRewards() in BaseStrategy should be settable by gov."
Request from @poolpitako
[code]

Todo:
- add the changes.
- cherry-pick the changes on older version and tag a new version

[2021-09-21 07:37] pandadefi commented on #411
@Niraj-Kamdar ping!

[2021-09-22 16:28] Niraj-Kamdar commented on #411
@pandadefi Thanks for reminder. I will try to implement it during this weekend.

[2021-09-26 13:26] Niraj-Kamdar commented on #411
I have found 2 vaults with the same hash.

[code]

I found these 2 versions with same hash:
1) `0.0.16`
2) `1.0.0`

It took 5-6 minutes to find these two versions. So, I don't think it's practical to find it in tests. Maybe we should hard code it and update it whenever we make some changes to vault.

@fubuloubu I would like to have your opinions

[2021-09-26 20:36] fubuloubu commented on #411
I'm not sure I understand what you are trying to say, do you think you've discovered a hash collision with how versions are compared? In Vyper, this uses keccak256 for string comparisions

[2021-09-27 08:54] Niraj-Kamdar commented on #411
Since we want to test for the case when hash collision happens, I have written above script to generate 2 vaults with the same hash. In Vault contract we are using  5 least significant bits as the hash key for the set.

[2021-09-27 13:46] fubuloubu commented on #411
Still not quite sure I understand, can you link to a code snippet where this is the case?

[2021-09-27 14:33] Niraj-Kamdar commented on #411
https://github.com/Niraj-Kamdar/yearn-vaults/blob/2ffadcea3d8a9785c42236fe0c97fb4554ab2545/contracts/Vault.vy#L570-L571

[2021-09-27 15:23] fubuloubu commented on #411
Ahhhh, I remember now where this came from!

Yes, so in general we designed this algo to be collision-tolerant, because only using the first 5 bits is unlikely to have enough entropy to avoid that condition. The idea here was to try and find two vaults with a collision in their first 5 bits, to ensure that we test this scenario thoroughly. I understand now.

Perhaps this issue is too prescriptive.

[2021-09-27 20:20] Niraj-Kamdar commented on #411
I will add tests for vault collision and look into fuzzer case.

[2021-09-30 22:19] milkyklim commented on #5
@fubuloubu Was this ever done?

[2021-09-30 22:51] fubuloubu commented on #456
The sentence is a little nonsensical if you ask me. The first part is fine, "This value should be higher than the total debt of the Strategy **during normal operation**" but the second part I am not sure what the intent is.

`estimatedTotalAssets` is an "expected value" so I am not sure it can be higher than itself. I'm not sure what the safety property mentioned is relying on, overall the safety

[2021-09-30 23:54] fubuloubu commented on #5
No. We can close this for now. We have setup the best way we can to share code for things like the strategy mix

[2021-09-30 23:54] #5 closed

[2021-10-03 07:49] Niraj-Kamdar commented on #411
Farming this is harder than I thought.  We don't need to farm vault but strategy with the same hash and also while farming we need to maintain the order of transaction to reproduce the same smart-contract address afterwards.

Ex: While farming, I am running loop creating many strategies after creating first strategy which will change the state of blockchain so to reproduce it I need to farm every

[2021-10-08 07:33] pandadefi commented on #467
That's the idea, you will also have to change the tests so that's tested

[2021-10-08 08:22] Niraj-Kamdar commented on #411
@fubuloubu Any idea how to farm this efficiently?

[2021-10-08 16:38] fubuloubu commented on #411
Farm it one time, and then start your test case from there. You can also explore finding a set of two addresses who's first txn being a strategy deployment produces a collision, and then just use those addresses for that test case (not having to re-farm).

[2021-10-20 15:20] lbertenasco opened #477 "add minShares to vault withdrawals"
it's not the best UX when you desire to withdraw 100 shares that it will only consume 50.
should add `minShares` as a parameter and revert if it cannot fill the withdraw

[2021-10-24 01:28] fubuloubu opened #478 "Add Slither Support to CI"
https://github.com/yearn/yearn-vaults/blob/a113064afd59ecac6ae4f8ed9bfe0d0d00c727a3/.github/workflows/lint.yaml#L98

[2021-10-25 16:16] fp-crypto opened #480 "Revoke should allow vault management role to call"
Let vault `management`(self.management) to call revokeStrategy.

https://github.com/yearn/yearn-vaults/blob/b626994c5ca2ed4455053809cdd5b75bd567ccbf/contracts/Vault.vy#L1385

[2021-11-02 13:23] #467 closed

[2021-11-02 13:24] pandadefi commented on #477
You end up spending a lot of gas and at the end it will revert, does that make sense?

[2021-11-02 13:26] #456 closed

[2021-11-02 13:27] pandadefi commented on #411
@Niraj-Kamdar ping

[2021-11-02 13:27] #369 closed

[2021-11-02 13:51] Niraj-Kamdar commented on #411
I was trying to farm two strategy with same hash for a vault but not sure how can I do this deterministically?
Ex:
[code]
Here, all the parameters are kind of constant, we can't change so I am not sure how can we farm such strategy. One option I consider was to keep deploying until we find the two strategy with same hash but that wouldn't work for testing purpose since that'd be very slow.

Do you

[2021-11-02 19:28] ankitiitb1069 commented on #477
Added changes here https://github.com/ankitiitb1069/yearn-vaults/tree/add-minshares-to-vault-withdrawal, can I raise a PR for this now?

[2021-11-02 19:39] ankitiitb1069 commented on #480
Added changes in this branch, what is process of raising a PR https://github.com/ankitiitb1069/yearn-vaults/tree/revoke-allow-vault-management

[2021-11-02 20:43] pandadefi commented on #477
You must add tests to your changes

Le mar. 2 nov. 2021, 21:28, Ankit Parashar ***@***.***> a
écrit :

[2021-11-02 20:44] pandadefi commented on #480
You are missing some tests to assert that is working properly

Le mar. 2 nov. 2021, 21:40, Ankit Parashar ***@***.***> a
écrit :

[2021-11-02 21:33] lbertenasco commented on #477
yes, because metamask will tell you it's a reverted tx, and you won't end up sending that tx at all.

also @ankitiitb1069 please add tests and submit a PR and we'll gladly review it :)

[2021-11-03 18:21] pandadefi commented on #480
You are missing some tests to assert that is working properly

[2021-11-04 10:19] ankitiitb1069 commented on #480
Added unit tests as well to assert that it is working properly

[2021-11-05 22:45] sambacha commented on #478
@mohitsaxenaknoldus if you are interested in doing this we can work on something I think will be of better usage, and can provide additional compensation, lmk if you are interested!

[2021-11-09 19:32] mohitsaxenaknoldus commented on #478
Yeah sure, just let me know what additional scripts you talking about. I just need more info here on what needs to be done.

[2021-11-24 23:53] KurogeWashu opened #491 "Migrate SPECIFICATION.md to yearn-devdocs"
Migrated via commit f584e7687969658e5f2b58c7cab1e681d2b3a9df

[2021-11-30 06:55] #480 closed

[2021-12-08 08:53] pandadefi commented on #16
We need someone to build and maintain a linter. The linter should be able to work with multiple versions of vyper

[2021-12-08 23:34] bsamuels453 opened #497 "Add Events for Deposits and Withdrawals"
Hi, I'd like to request that events are added for deposit and withdraw. Preferably these events would emit:

1. The recipient/beneficiary of the deposit/withdrawal
2. The amount of yShares minted/burned
3. The amount of wantTokens deposited/withdrawn

Context:
The [Yearn Vaults subgraph](https://github.com/yearn/yearn-vaults-v2-subgraph) has two ways to detect activity on the chain; call tracing a

[2021-12-10 21:56] fubuloubu commented on #16
note that @spinoch made a first cut of it here: https://github.com/vyperlang/blackadder

[2021-12-11 16:25] bitcoinmeetups opened #498 "What happened with the yETH or yWETH token?"
Hello,

I'm MB. A very nice and polite guy.

What happened with the yETH or yWETH token?

A few years ago or so there was this new token available through your dapp. It was called yETH or yWETH or something like that. I invested 1 ETH in it and got 1 yETH or yWETH in return. This is my wallet:

https://etherscan.io/address/0xaDA9eDB16C18463a07cC64bC32DA620728b9b2b2

But now I cannot sell it. We ar

[2021-12-11 19:32] pandadefi commented on #498
Hello Sir,

The vault you have used as been replaced with our version 2 vault, you can still withdraw your token one way to do it is by using the etherscan contract tab https://etherscan.io/address/0xe1237aA7f535b0CC33Fd973D66cBf830354D16c7#writeContract

On this page connect your web3 wallet then use the function called withdrawAll, you will get your WETH back.

[2021-12-11 19:32] #498 closed

[2021-12-14 10:07] #497 closed

[2021-12-17 19:04] rareweasel opened #503 "Add Events in HealthCheck Changes"
Add the corresponding events in the following functions:

- BaseStrategy.setHealthCheck.
- BaseStrategy.setDoHealthCheck.

Also, the `harvest()` function modifies the doHealthCheck [here](https://github.com/yearn/yearn-vaults/blob/v0.4.3/contracts/BaseStrategy.sol#L784) without emitting an event.

**Output**

Emit events in both functions and in the harvest function where the `doHealthCheck` varia

[2021-12-17 19:08] rareweasel opened #504 "Add Event in Sweep Function"
Add event at the end of the `sweep` function to track the tokens transferred to governance.

Sweep function [link](https://github.com/yearn/yearn-vaults/blob/v0.4.3/contracts/BaseStrategy.sol#L888).

Target Tag/Branch

https://github.com/yearn/yearn-vaults/tree/v0.4.3

[2021-12-17 19:11] rareweasel opened #505 "Add Event in SetLockedProfitDegradation"
Add event at the end of the `setLockedProfitDegradation` function.

`setLockedProfitDegradation` function [link](https://github.com/yearn/yearn-vaults/blob/v0.4.3/contracts/Vault.vy#L425).

Target Tag/Branch

https://github.com/yearn/yearn-vaults/tree/v0.4.3

[2021-12-20 06:38] pandadefi commented on #504
Token being an erc20 can't the standard erc20 transfer function work here ?

[2021-12-20 06:39] pandadefi commented on #503
On master heath check is made from the vault

[2021-12-20 10:24] pandadefi commented on #505
This changes are on the vault, this will go to main since we can't patch vault version only BaseStrategy.

[2021-12-20 10:33] pandadefi commented on #503
On main the events are emitted from the HealthCheck contract, are we planning to redeploy the HealthCheck for v0.4.3?

[2021-12-20 14:10] #505 closed

[2021-12-21 07:42] #491 closed

[2021-12-31 06:43] bsamuels453 commented on #504
@pandadefi in this case, erc20 transfer events aren't adequate.

This request is primarily for subgraph support, and the subgraph can only listen for erc20 Transfer events for tokens whose addresses it knows about ahead of time. Unfortunately it can't subscribe to all erc20 Transfer events globally, so in this case the event needs to be emitted by the Strategy/Vault.

[2022-01-03 14:51] #504 closed

[2022-01-05 22:07] rareweasel commented on #503
Hi @pandadefi are you planning to impl this? any ETA? Thanks!!

[2022-01-05 22:11] rareweasel commented on #503
Hi @pandadefi are you planning to impl this? any ETA?

I saw there is a [merged pr](https://github.com/yearn/yearn-vaults/pull/507) but it looks like it is not what we needed for this issue.

[2022-01-06 06:30] pandadefi commented on #503
After 0.4.3 the heath check isn't on strategy anymore

[2022-01-12 14:26] pandadefi commented on #503
https://github.com/yearn/yearn-vaults/commit/efb47d8a84fcb13ceebd3ceb11b126b323bcc05d

[2022-01-18 09:13] parseb commented on #477
@ankitiitb1069 did you submit a PR for this?

[2022-01-18 09:47] pandadefi commented on #477
@parseb he didn't

[2022-01-19 17:43] parseb commented on #477
@pandadefi on it, if PR not linked in 48h, assume the worst.

[2022-01-20 12:06] parseb commented on #477
Spent hours trying to fix this.
Not the only one getting this error.
I'm also likely the worst person to try and solve it since I'm new to everything in this env.

![image](https://user-images.githubusercontent.com/5999852/150334276-2ae650a6-1504-4e9c-bd27-f407acdd3ec7.png)

[2022-01-20 14:53] gmridul commented on #477
Hey @parseb, i'll try to give this a shot if you're okay?

[2022-01-20 14:55] gmridul commented on #153
maybe it's a good time to move to 0.8 now?

[2022-01-20 15:01] gmridul commented on #153
oh just saw https://github.com/yearn/yearn-vaults/pull/502

[2022-01-21 00:46] gmridul commented on #213
@Grandthrax @storming0x is there any examples of transaction where profit is reported via withdrawal and deposit into underlying protocol?

That will help me in starting with this issue.

[2022-01-21 06:01] akshaynexus opened #514 "Add availableLiquidity to baseStrategy"
Currently there is no way to know how much assets are currently available for withdrawal in a strategy
Implementing this into baseStrategy will allow for devs to get a better understanding of how much liquidity a strat has and can be withdrawn from.

[2022-01-21 07:25] pandadefi commented on #213
We are reworking this mechanism right now with a new version

[2022-01-21 07:27] pandadefi commented on #514
That's something we are working on, have you checked the next version document?

[2022-01-21 07:27] #514 closed

[2022-01-21 15:33] gmridul opened #515 "Update token balance to vault share calculation in unit test"
In various places at [test_withdrawal.py](https://github.com/yearn/yearn-vaults/blob/main/tests/functional/vault/test_withdrawal.py#L179), the token balance is converted to vault shares via: `token_balance * vault.pricePerShare() // 10 ** vault.decimals()`.

This seems incorrect as we're multiplying `token_balance` with number of tokens each share represents.

The correct calculation should be: `t

[2022-01-22 12:28] gmridul commented on #477
@pandadefi, sent this PR #517.

[2022-01-22 13:07] pandadefi commented on #477
We are working on a new version of the vault that will not be based on this code. We aren't going to make a new release on top of that.

[2022-01-22 14:57] gmridul commented on #477
got it, I'll close the PR.

[2022-01-24 13:32] gmridul commented on #477
@pandadefi  any help you need on the new version of vaults?

[2022-01-24 14:26] pandadefi commented on #477
We are still in the planning phase

[2022-01-27 21:00] 0x0scion opened #519 "Potential Harvest Sandwich Attack"
(Issue edited by yearn team)

[2022-01-28 14:18] storming0x commented on #519
Hey @0x0scion since this issue is related to security please follow the guide here to report the issue.

https://github.com/yearn/yearn-security/blob/master/SECURITY.md

Currently we are looking at the issue and agree that this is highly unlikely to be pulled off in production given our current mitigations for similar attacks, (healthchecks that avoid reporting a loss unchecked), flashbot managed

[2022-01-28 14:18] #519 closed

[2022-02-01 20:37] pandadefi commented on #153
it's here
https://github.com/yearn/yearn-vaults/pull/502

[2022-02-20 05:56] #478 closed

[2022-02-20 07:00] #515 closed

[2022-03-01 19:37] skeletor-spaceman opened #528 "Fix: NewPendingGovernance event should use _governance"
https://github.com/yearn/yearn-vaults/blob/43a0673ab89742388369bc0c9d1f321aa7ea73f6/contracts/Vault.vy#L402

`    log NewPendingGovernance(_governance)`

[2022-03-01 21:33] #528 closed

[2022-04-07 23:56] storming0x opened #532 "Discuss: Update vaults to make them 4626 compatible"
Tokenized Vault Standard
https://eips.ethereum.org/EIPS/eip-4626

This has been out and reviewed by several important protocols and participants in the DeFI space, i think it's yearn's best interest to support this standard.

Most of the current vault interface is compliant with the standard some minor method and functions need to be added or refactored for compliance.

A potential approach is kee

[2022-04-13 15:21] skeletor-spaceman opened #533 "Depositor obtains BaseWrapper balance on pull deposit"
afterBal should be changed to deposited
https://github.com/yearn/yearn-vaults/blob/b3f33bd5a8ece52b6504d0c1cd9029fb639d6349/contracts/BaseWrapper.sol#L182

also, pull boolean should be immutable, not sure there is a usecase for both pull and non-pull deposits

[2022-04-16 21:14] westonnelson commented on #533
I agree this is a bit confusing: perhaps using updatedBal or depositorBal might make this even more clear.

[2022-04-28 16:42] AbnerZheng commented on #16
@fubuloubu I would like try to finish the remaining work. I have looked through the PR(https://github.com/yearn/yearn-vaults/pull/52), the remaining work is to (correctly) reformat code for mutability of the method, am I right?

[2022-04-28 17:34] fubuloubu commented on #16
No, there is updates needed to the tool for it to work

[2022-04-28 17:44] AbnerZheng commented on #16
@fubuloubu Yeah,  I have checked the tool(https://github.com/vyperlang/blackadder), currently it is simply based on regexp, should I modified it according to the AST to make a normal formatter? Or maybe fork the black(https://github.com/psf/black), and modified the code according to the grammar rule of Vyper?

[2022-04-28 17:46] fubuloubu commented on #16
Will accept PRs to that repo, yes

[2022-04-28 17:48] AbnerZheng commented on #16
Cool, I will try it.

[2022-07-26 12:30] jhb10c commented on #532
@storming0x is this still an open issue for the current vault contract? If so I would not mind working on it.

[2022-09-05 23:20] banteg opened #545 "make permit eip-2612 compliant"
when i coded it initially, i had to use a different signature because vyper didn't support `uint8` type.

now it's possible to change it to the one described in the eip, the only difference would be the `value` arg, which we'll have to call `amount`, because value is a reserved keyword.

references:
https://eips.ethereum.org/EIPS/eip-2612

[2022-11-29 21:30] 0xJonHoldsCrypto opened #551 "minshares not parsing"
minshares not parsing